@mixin common{
    * {
        //font-family: Jetbrains Mono, sans-serif;
        font-family: $font;
    }
}

@mixin header{
    font-family: $header_font;
}

tooltip {
    background-color: $surface-container-high-t;
    padding: 3px;
    color: $on_surface; 
    border-radius: $rounding;
    border: $border solid $on_surface-t;
}
