.vertical_bar {
    @include widget;
    margin: 0;
    min-height: $screen_height - (2 * $outer_gap) - 20px;
    margin-left: $outer_gap;
    background-color: $background-t;
    color: $on_background;
}

.clock {
    @include element;
    padding-top: $padding * 1.5;
    padding-bottom: $padding  * 1.5;
    padding-left: $padding * 1.1;
    padding-right: $padding * 1.1;
    min-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.batbox {
    @include element;
    padding: $gap / 2.1
}
.bat_icon {
    @include button_icon($on_surface);
    font-size: 1.5em;
}
circular-progress {
    font-size: 0.25em;
    margin: 0.2rem;
}
.bat_progress {
    color: $color4;
}
.bat_progress_charging {
    color: saturate($color4, 50);
    transition: ease-in 0.5s;
}


.workspaces {
    @include element;
    padding: $padding * 2;
}
.workspace_unfocused {
    @include element;
    background-color: $on_surface;
    margin-top: $gap;
    padding-top: $padding * 1.25;
    padding-bottom: $padding * 1.25;
    padding-left: $padding / 2;
    padding-right: $padding / 2;
    &:hover {
        background-color: $color6;
        transition: ease-in 0.1s;
    }
}
.workspace_focused {
    @include element;
    background-color: $color6;
    margin-top: $gap;
    padding-top: $padding * 1.5;
    padding-bottom: $padding * 1.5;
    padding-left: $padding / 2;
    padding-right: $padding / 2;
    transition: ease-in 0.1s;
    &:hover {
        background-color: saturate($color6, 20);
        transition: ease-in 0.1s;
    }
}

.theme_icon {
    @include button_icon($color3);
}
.theme_button {
    @include button($color3);
}

.notification_icon {
    @include button_icon($color6);
    margin-bottom: 1.5 * $gap;
}
.music_icon {
    @include button_icon($color4);
}
.notification_music_button {
    @include button($color1);
    margin: 0;
}

.slider_icon {
    @include button_icon($color5);
    margin-bottom: 1.5 * $gap;
}
.wifi_icon {
    @include button_icon($color3);
    margin-bottom: 1.5 * $gap;
}
.bluetooth_icon {
    @include button_icon($color1);
}
.misc_button {
    @include button($color1);
}
