tooltip {
  background-color: #2e3138;
  padding: 3px;
  color: #ffffff;
  border-radius: 10px;
  border: 0rem solid white; }

* {
  all: unset;
  font-family: "Iosevka Nerd Font"; }

.vertical_bar {
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  min-height: 1040px;
  margin-left: 10px;
  background-color: #11131a;
  color: #e1e2eb; }

.clock {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  font-family: "Jetbrains Mono Nerd Font";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 11px;
  padding-right: 11px;
  min-height: 3rem;
  font-size: 1.5rem;
  font-weight: bold; }

.batbox {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  padding: 4.7619047619px; }

.bat_icon {
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem;
  font-size: 1.5em; }

circular-progress {
  font-size: 0.25em;
  margin: 0.2rem; }

.bat_progress {
  color: #8fa9e3; }

.bat_progress_charging {
  color: #739eff;
  transition: ease-in 0.5s; }

.workspaces {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  padding: 20px; }

.workspace_unfocused {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  background-color: #ffffff;
  margin-top: 10px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 5px;
  padding-right: 5px; }
  .workspace_unfocused:hover {
    background-color: #a9c6e9;
    transition: ease-in 0.1s; }

.workspace_focused {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  background-color: #a9c6e9;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  transition: ease-in 0.1s; }
  .workspace_focused:hover {
    background-color: #9ec5f4;
    transition: ease-in 0.1s; }

.theme_icon {
  color: #8baee2;
  background-color: transparent;
  font-size: 1.5rem; }

.theme_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #8baee2; }
  .theme_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.notification_icon {
  color: #a9c6e9;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 15px; }

.badge {
  font-family: "Jetbrains Mono Nerd Font";
  margin-left: 0.5rem;
  margin-bottom: 1.0rem;
  color: #ffffff;
  font-size: 1.0rem; }

.music_icon {
  color: #8fa9e3;
  background-color: transparent;
  font-size: 1.5rem; }

.notification_music_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #719bdb;
  margin: 0; }
  .notification_music_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.slider_icon {
  color: #a3bbe8;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 15px; }

.wifi_icon {
  color: #8baee2;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 15px; }

.bluetooth_icon {
  color: #719bdb;
  background-color: transparent;
  font-size: 1.5rem; }

.misc_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #719bdb; }
  .misc_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.horizontal_bar {
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  min-width: 1880px;
  margin-top: 10px;
  background-color: #11131a;
  color: #e1e2eb; }

.clock_h {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 1.5rem;
  margin-right: 10px;
  font-weight: bold; }

.batbox_h {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  padding: 4.7619047619px;
  margin-left: 10px; }

.bat_icon_h {
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem;
  font-size: 1.5em; }

circular-progress {
  font-size: 0.25em;
  margin: 0.2rem; }

.bat_progress_h {
  color: #8fa9e3; }

.bat_progress_charging_h {
  color: #739eff;
  transition: ease-in 0.5s; }

.workspaces_h {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  padding: 20px; }

.workspace_unfocused_h {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .workspace_unfocused_h:hover {
    background-color: #a9c6e9;
    transition: ease-in 0.1s; }

.workspace_focused_h {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  background-color: #a9c6e9;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: ease-in 0.1s; }
  .workspace_focused_h:hover {
    background-color: #9ec5f4;
    transition: ease-in 0.1s; }

.theme_h_icon {
  color: #8baee2;
  background-color: transparent;
  font-size: 1.5rem; }

.theme_h_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #8baee2;
  margin-right: 0; }
  .theme_h_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.notification_icon_h {
  color: #a9c6e9;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 15px; }

.music_icon_h {
  color: #8fa9e3;
  background-color: transparent;
  font-size: 1.5rem; }

.notification_music_button_h {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #719bdb;
  margin: 0; }
  .notification_music_button_h:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.slider_icon_h {
  color: #a3bbe8;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 15px; }

.wifi_icon_h {
  color: #8baee2;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 15px; }

.bluetooth_icon_h {
  color: #719bdb;
  background-color: transparent;
  font-size: 1.5rem; }

.misc_button_h {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #719bdb; }
  .misc_button_h:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.app_launcher {
  padding: 10px;
  border-radius: 10px;
  background-color: #11131a;
  min-width: 460px;
  min-height: 514.2857142857px;
  margin-bottom: 10px;
  margin-right: 10px; }
  .app_launcher image {
    -gtk-icon-theme: "WhiteSur"; }

.scrollable {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  background-color: #11131a; }

.app_item_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  background-color: transparent;
  margin-bottom: 10px; }
  .app_item_button:hover {
    background-color: #393c43;
    transition: ease-in 0.3s; }
  .app_item_button:focus {
    background-color: #393c43;
    transition: ease-in 0.3s; }

.app_title {
  font-family: "Jetbrains Mono Nerd Font";
  font-weight: 600;
  font-size: 1rem;
  margin-left: 10px; }

.search_bar {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  margin: 10px;
  font-size: 1.25rem;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #1b1d24;
  color: #ffffff; }

.powermenu {
  padding: 10px;
  border-radius: 10px;
  background-color: #11131a;
  min-height: 514.2857142857px;
  margin-bottom: 10px; }

.limitless_icon {
  color: #cfdbf2;
  background-color: transparent;
  font-size: 1.5rem; }

.limitless_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #cfdbf2;
  margin-bottom: 0; }
  .limitless_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.lock_icon {
  color: #719bdb;
  background-color: transparent;
  font-size: 1.5rem; }

.lock_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #719bdb; }
  .lock_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.sleep_icon {
  color: #8baee2;
  background-color: transparent;
  font-size: 1.5rem; }

.sleep_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #8baee2; }
  .sleep_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.logout_icon {
  color: #8fa9e3;
  background-color: transparent;
  font-size: 1.5rem; }

.logout_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #8fa9e3; }
  .logout_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.reboot_icon {
  color: #a3bbe8;
  background-color: transparent;
  font-size: 1.5rem; }

.reboot_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #a3bbe8; }
  .reboot_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.shutdown_icon {
  color: #a9c6e9;
  background-color: transparent;
  font-size: 1.5rem; }

.shutdown_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #a9c6e9;
  margin-bottom: 0; }
  .shutdown_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.dock {
  padding: 10px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: #11131a; }

.icons image {
  -gtk-icon-theme: "WhiteSur"; }

.separator {
  background-color: #2e3138;
  padding-left: 0.5px;
  padding-right: 0.5px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem; }

.taskbar_icon_box {
  padding-left: 10px;
  padding-right: 10px; }

.indicator {
  padding: 0.25rem;
  margin-right: 0.15rem;
  margin-left: 0.15rem;
  border-radius: 10px;
  background-color: #ffffff; }

.start_menu_icon {
  color: #80a2df;
  background-color: transparent;
  font-size: 1.5rem; }

.start_menu_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #80a2df;
  margin-left: 10px; }
  .start_menu_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.systray_icon {
  color: #8fa9e3;
  background-color: transparent;
  font-size: 1.5rem; }

.systray_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #8fa9e3;
  margin-left: 10px; }
  .systray_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.systray_box {
  padding: 10px;
  border-radius: 10px;
  background-color: #11131a;
  margin-right: 10px;
  margin-bottom: 10px; }

.sys_app_icon {
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem; }

.sys_app_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid white;
  margin: 5px 10px 5px 10px; }
  .sys_app_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.empty_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #cfdbf2;
  margin: 5px 10px 5px 10px;
  background-color: #11131a; }
  .empty_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }
  .empty_button:hover {
    background-color: #11131a; }

.empty_icon {
  color: #cfdbf2;
  background-color: transparent;
  font-size: 1.5rem; }

menu {
  padding: 10px;
  border-radius: 10px;
  background-color: #24262d;
  padding: 10px;
  margin-bottom: 10px; }
  menu menuitem {
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; }
    menu menuitem:hover {
      background-color: #393c43;
      transition: ease-in 0.3s; }

.control_sliders {
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  min-width: 425px;
  background-color: #11131a;
  padding-top: 20px;
  padding-bottom: 20px; }

.volume {
  margin-bottom: 20px; }

.volume_slider {
  min-width: 381px; }
  .volume_slider trough {
    border-radius: 10px;
    background-color: #393c43;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .volume_slider trough highlight, .volume_slider trough progress {
      background-color: #719bdb;
      border-radius: 10px; }
  .volume_slider slider {
    background-color: #719bdb;
    border-radius: 10px; }
  .volume_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #2d374f; }
  .volume_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #233359; }
  .volume_slider:hover highlight, .volume_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #5f97ed; }
  .volume_slider:disabled highlight, .volume_slider:disabled progress {
    background-color: #ffc3bb; }

.volume_icon {
  background-color: transparent;
  color: #719bdb;
  font-size: 1.5rem; }

.brightness {
  margin-bottom: 20px; }

.brightness_slider {
  min-width: 381px; }
  .brightness_slider trough {
    border-radius: 10px;
    background-color: #393c43;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .brightness_slider trough highlight, .brightness_slider trough progress {
      background-color: #a9c6e9;
      border-radius: 10px; }
  .brightness_slider slider {
    background-color: #a9c6e9;
    border-radius: 10px; }
  .brightness_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #2d374f; }
  .brightness_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #233359; }
  .brightness_slider:hover highlight, .brightness_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #9ec5f4; }
  .brightness_slider:disabled highlight, .brightness_slider:disabled progress {
    background-color: #ffc3bb; }

.brightness_icon {
  background-color: transparent;
  color: #a9c6e9;
  font-size: 1.5rem; }

.microphone_slider {
  min-width: 381px; }
  .microphone_slider trough {
    border-radius: 10px;
    background-color: #393c43;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .microphone_slider trough highlight, .microphone_slider trough progress {
      background-color: #8fa9e3;
      border-radius: 10px; }
  .microphone_slider slider {
    background-color: #8fa9e3;
    border-radius: 10px; }
  .microphone_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #2d374f; }
  .microphone_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #233359; }
  .microphone_slider:hover highlight, .microphone_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #81a4f1; }
  .microphone_slider:disabled highlight, .microphone_slider:disabled progress {
    background-color: #ffc3bb; }

.microphone_icon {
  background-color: transparent;
  color: #8fa9e3;
  font-size: 1.5rem; }

.control_menu {
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #11131a;
  min-width: 425px; }

.wifi_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #24262d;
  border: 0rem solid #101b41;
  min-width: 385px;
  margin-bottom: 20px;
  color: #ffffff; }
  .wifi_button:hover {
    background-color: #181f39;
    transition: ease-in 0.3s; }

.wifi_button.on {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #719bdb;
  border: 0rem solid #4d94ff;
  color: #11131a; }
  .wifi_button.on:hover {
    background-color: #5695f6;
    transition: ease-in 0.3s; }

.dnd_button.on {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #80a2df;
  border: 0rem solid #6099ff;
  color: #11131a; }
  .dnd_button.on:hover {
    background-color: #689bf7;
    transition: ease-in 0.3s; }

.dnd_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #24262d;
  border: 0rem solid #101b41;
  min-width: 177.5px;
  margin-right: 10px;
  margin-bottom: 20px;
  color: #ffffff; }
  .dnd_button:hover {
    background-color: #181f39;
    transition: ease-in 0.3s; }

.bluetooth_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #24262d;
  border: 0rem solid #101b41;
  min-width: 177.5px;
  margin-bottom: 20px;
  color: #ffffff; }
  .bluetooth_button:hover {
    background-color: #181f39;
    transition: ease-in 0.3s; }

.bluetooth_button.on {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #8baee2;
  border: 0rem solid #6ea8ff;
  color: #11131a; }
  .bluetooth_button.on:hover {
    background-color: #75aaf8;
    transition: ease-in 0.3s; }

.power_profiles_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #24262d;
  border: 0rem solid #101b41;
  min-width: 177.5px;
  margin-right: 10px;
  color: #ffffff; }
  .power_profiles_button:hover {
    background-color: #181f39;
    transition: ease-in 0.3s; }

.power_profiles_button.perf {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #739eff;
  border: 0rem solid #739eff;
  color: #11131a; }
  .power_profiles_button.perf:hover {
    background-color: #739eff;
    transition: ease-in 0.3s; }

.power_profiles_button.bal {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #8fa9e3;
  border: 0rem solid #739eff;
  color: #11131a; }
  .power_profiles_button.bal:hover {
    background-color: #7aa1f8;
    transition: ease-in 0.3s; }

.control_button_icon {
  background-color: transparent;
  font-size: 2.0rem;
  transition: ease-in 0.3s;
  margin-right: 10px; }

.control_button_header {
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 0.8rem;
  transition: ease-in 0.3s; }

.control_button_label {
  font-size: 0.7rem;
  transition: ease-in 0.3s; }
  .control_button_label * {
    font-family: "Iosevka Nerd Font"; }

.redshift_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  margin-right: 10px;
  min-width: 66.25px;
  border-radius: 10px;
  padding: 13px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 0rem solid #101b41;
  background-color: #24262d;
  color: #ffffff; }
  .redshift_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.redshift_button.on {
  border: 0rem solid #8cb4ff;
  background-color: #a3bbe8;
  color: #ffffff; }

.redshift_icon {
  background-color: transparent;
  font-size: 1.5rem; }

.mute_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  min-width: 66.25px;
  border-radius: 10px;
  padding: 13px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 0rem solid #101b41;
  background-color: #24262d;
  color: #ffffff;
  transition: ease-in 0.3s; }
  .mute_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.mute_button.on {
  border: 0rem solid #93c4ff;
  background-color: #a9c6e9;
  color: #11131a; }

.mute_icon {
  background-color: transparent;
  font-size: 1.5rem; }

.player {
  min-width: 405px;
  padding: 10px;
  border-radius: 10px;
  min-height: 125.6px;
  margin-top: 10px;
  margin-left: 10px;
  border: 10px solid #11131a;
  background-color: #24262d;
  background-size: cover;
  background-position: center; }

.player_controls {
  margin-top: 10px;
  margin-bottom: 10px; }

.title {
  font-family: "Jetbrains Mono Nerd Font";
  margin-left: 10px;
  font-size: 1.25rem;
  color: #ffffff;
  opacity: 1.0;
  font-weight: bold; }

.artist {
  margin-left: 10px;
  font-size: 1.0rem;
  color: #ffffff;
  opacity: 1.0; }
  .artist * {
    font-family: "Iosevka Nerd Font"; }

.play-pause {
  background-color: transparent; }
  .play-pause:hover {
    color: #719bdb;
    transition: ease-in 0.3s; }

.play-pause-icon {
  background-color: transparent;
  font-size: 30px; }

.prev {
  background-color: transparent; }
  .prev:hover {
    color: #719bdb;
    transition: ease-in 0.3s; }

.prev-icon {
  background-color: transparent;
  font-size: 20px; }

.next {
  background-color: transparent; }
  .next:hover {
    color: #719bdb;
    transition: ease-in 0.3s; }

.next-icon {
  background-color: transparent;
  font-size: 20px; }

.position {
  font-size: 1.0rem;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 10px; }
  .position * {
    font-family: "Iosevka Nerd Font"; }

.length {
  font-size: 1.0rem;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px; }
  .length * {
    font-family: "Iosevka Nerd Font"; }

.position-slider {
  all: unset;
  margin-left: 10px;
  margin-right: 10px; }
  .position-slider trough {
    border-radius: 10px;
    background-color: #24262d;
    min-height: 8px;
    min-width: 50px; }
    .position-slider trough highlight, .position-slider trough progress {
      background-color: #719bdb;
      border-radius: 10px; }
  .position-slider slider {
    background-color: #719bdb;
    border-radius: 10px; }
  .position-slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #1c2235; }
  .position-slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #5295fa; }
  .position-slider:hover highlight, .position-slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #5f97ed; }
  .position-slider:disabled highlight, .position-slider:disabled progress {
    background-color: #ffc3bb; }
  .position-slider trough:focus {
    background-color: #80a2df; }
    .position-slider trough:focus slider {
      background-color: #80a2df; }

.notification {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  min-width: 25rem;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  background-color: #1b1d24; }

window.notification-popups box.notifications {
  padding: 10px; }

.noti_icon {
  min-width: 6.25rem;
  min-height: 6.25rem;
  margin-right: 10px; }

.placeholder_icon {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  background-color: #cfdbf2;
  color: #cfdbf2;
  min-width: 6.25rem;
  min-height: 6.25rem; }

.noti_icon image {
  font-size: 6.25rem;
  color: #cfdbf2; }

.noti_icon box {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  min-width: 6.25rem;
  min-height: 6.25rem;
  background-color: #cfdbf2;
  color: #cfdbf2; }

.notification.critical {
  background-color: #101b41; }

.noti_title {
  font-family: "Jetbrains Mono Nerd Font";
  color: #719bdb;
  font-size: 1.0em;
  font-weight: 500; }

.noti_time {
  color: #9099a9;
  font-size: 1.0em;
  font-weight: 300; }
  .noti_time * {
    font-family: "Iosevka Nerd Font"; }

.body {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 0.8em; }
  .body * {
    font-family: "Iosevka Nerd Font"; }

.action-button {
  font-family: "Jetbrains Mono Nerd Font";
  border-radius: 5px;
  padding: 10px;
  background-color: #a3bbe8;
  margin-left: 10px; }

.action_button_text {
  font-weight: 500; }

.action-button:first-child {
  margin-left: 0; }

.action-button:last-child {
  margin-right: 0; }

.notifications_tray {
  padding: 10px;
  border-radius: 10px;
  min-width: 425px;
  min-height: 416px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #11131a; }

.notifications_header {
  font-family: "Jetbrains Mono Nerd Font";
  margin: 10px;
  font-size: 2em; }

.clear_icon {
  color: #719bdb;
  background-color: transparent;
  font-size: 1.5rem; }

.clear_button {
  padding: 10px;
  border-radius: 5px;
  background-color: #24262d;
  border: 0rem solid #393c43;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #24262d;
  border: 0rem solid #719bdb;
  margin: 0; }
  .clear_button:hover {
    background-color: #424753;
    transition: ease-in 0.3s; }

.placeholder {
  font-size: 1.5em; }

.theming_sliders {
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  min-width: 425px;
  background-color: #11131a;
  padding-top: 20px;
  padding-bottom: 20px; }

.rounding {
  margin-bottom: 20px; }

.rounding_slider {
  min-width: 381px; }
  .rounding_slider trough {
    border-radius: 10px;
    background-color: #393c43;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .rounding_slider trough highlight, .rounding_slider trough progress {
      background-color: #719bdb;
      border-radius: 10px; }
  .rounding_slider slider {
    background-color: #719bdb;
    border-radius: 10px; }
  .rounding_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #2d374f; }
  .rounding_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #233359; }
  .rounding_slider:hover highlight, .rounding_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #5f97ed; }
  .rounding_slider:disabled highlight, .rounding_slider:disabled progress {
    background-color: #ffc3bb; }

.rounding_icon {
  background-color: transparent;
  color: #719bdb;
  font-size: 1.5rem; }
