tooltip {
  background-color: #333232;
  padding: 3px;
  color: #ffffff;
  border-radius: 0px;
  border: 0rem solid white; }

* {
  all: unset;
  font-family: "Iosevka Nerd Font"; }

.vertical_bar {
  padding: 10px;
  border-radius: 0;
  margin: 0;
  min-height: 1060px;
  margin-left: 0px;
  background-color: #131313;
  color: #e5e2e1; }

.clock {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  font-family: "Jetbrains Mono Nerd Font";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 11px;
  padding-right: 11px;
  min-height: 3rem;
  font-size: 1.5rem;
  font-weight: bold; }

.batbox {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  padding: 4.7619047619px; }

.bat_icon {
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem;
  font-size: 1.5em; }

circular-progress {
  font-size: 0.25em;
  margin: 0.2rem; }

.bat_progress {
  color: #379224; }

.bat_progress_charging {
  color: #1fb600;
  transition: ease-in 0.5s; }

.workspaces {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  padding: 20px; }

.workspace_unfocused {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  background-color: #ffffff;
  margin-top: 10px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 5px;
  padding-right: 5px; }
  .workspace_unfocused:hover {
    background-color: #7ebd2f;
    transition: ease-in 0.1s; }

.workspace_focused {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  background-color: #7ebd2f;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  transition: ease-in 0.1s; }
  .workspace_focused:hover {
    background-color: #81d517;
    transition: ease-in 0.1s; }

.theme_icon {
  color: #1f7f25;
  background-color: transparent;
  font-size: 1.5rem; }

.theme_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #1f7f25; }
  .theme_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.notification_icon {
  color: #7ebd2f;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 15px; }

.music_icon {
  color: #379224;
  background-color: transparent;
  font-size: 1.5rem; }

.notification_music_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #3d741c;
  margin: 0; }
  .notification_music_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.slider_icon {
  color: #6ba729;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 15px; }

.wifi_icon {
  color: #1f7f25;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 15px; }

.bluetooth_icon {
  color: #3d741c;
  background-color: transparent;
  font-size: 1.5rem; }

.misc_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #3d741c; }
  .misc_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.horizontal_bar {
  padding: 10px;
  border-radius: 0;
  margin: 0;
  min-width: 1900px;
  margin-top: 0px;
  background-color: #131313;
  color: #e5e2e1; }

.clock_h {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 1.5rem;
  margin-right: 10px;
  font-weight: bold; }

.batbox_h {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  padding: 4.7619047619px;
  margin-left: 10px; }

.bat_icon_h {
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem;
  font-size: 1.5em; }

circular-progress {
  font-size: 0.25em;
  margin: 0.2rem; }

.bat_progress_h {
  color: #379224; }

.bat_progress_charging_h {
  color: #1fb600;
  transition: ease-in 0.5s; }

.workspaces_h {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  padding: 20px; }

.workspace_unfocused_h {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .workspace_unfocused_h:hover {
    background-color: #7ebd2f;
    transition: ease-in 0.1s; }

.workspace_focused_h {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  background-color: #7ebd2f;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: ease-in 0.1s; }
  .workspace_focused_h:hover {
    background-color: #81d517;
    transition: ease-in 0.1s; }

.theme_h_icon {
  color: #1f7f25;
  background-color: transparent;
  font-size: 1.5rem; }

.theme_h_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #1f7f25;
  margin-right: 0; }
  .theme_h_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.notification_icon_h {
  color: #7ebd2f;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 15px; }

.music_icon_h {
  color: #379224;
  background-color: transparent;
  font-size: 1.5rem; }

.notification_music_button_h {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #3d741c;
  margin: 0; }
  .notification_music_button_h:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.slider_icon_h {
  color: #6ba729;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 15px; }

.wifi_icon_h {
  color: #1f7f25;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 15px; }

.bluetooth_icon_h {
  color: #3d741c;
  background-color: transparent;
  font-size: 1.5rem; }

.misc_button_h {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #3d741c; }
  .misc_button_h:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.app_launcher {
  padding: 10px;
  border-radius: 0;
  background-color: #131313;
  min-width: 470px;
  min-height: 514.2857142857px;
  margin-bottom: 0px;
  margin-right: 0px; }
  .app_launcher image {
    -gtk-icon-theme: "WhiteSur"; }

.scrollable {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  background-color: #131313; }

.app_item_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  background-color: transparent;
  margin-bottom: 10px; }
  .app_item_button:hover {
    background-color: #3e3d3d;
    transition: ease-in 0.3s; }
  .app_item_button:focus {
    background-color: #3e3d3d;
    transition: ease-in 0.3s; }

.app_title {
  font-family: "Jetbrains Mono Nerd Font";
  font-weight: 600;
  font-size: 1rem;
  margin-left: 10px; }

.search_bar {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  margin: 10px;
  font-size: 1.25rem;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #1e1d1e;
  color: #ffffff; }

.powermenu {
  padding: 10px;
  border-radius: 0;
  background-color: #131313;
  min-height: 514.2857142857px;
  margin-bottom: 0px; }

.limitless_icon {
  color: #babdaf;
  background-color: transparent;
  font-size: 1.5rem; }

.limitless_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #babdaf;
  margin-bottom: 0; }
  .limitless_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.lock_icon {
  color: #3d741c;
  background-color: transparent;
  font-size: 1.5rem; }

.lock_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #3d741c; }
  .lock_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.sleep_icon {
  color: #1f7f25;
  background-color: transparent;
  font-size: 1.5rem; }

.sleep_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #1f7f25; }
  .sleep_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.logout_icon {
  color: #379224;
  background-color: transparent;
  font-size: 1.5rem; }

.logout_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #379224; }
  .logout_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.reboot_icon {
  color: #6ba729;
  background-color: transparent;
  font-size: 1.5rem; }

.reboot_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #6ba729; }
  .reboot_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.shutdown_icon {
  color: #7ebd2f;
  background-color: transparent;
  font-size: 1.5rem; }

.shutdown_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #7ebd2f;
  margin-bottom: 0; }
  .shutdown_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.dock {
  padding: 10px;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  background-color: #131313; }

.icons image {
  -gtk-icon-theme: "WhiteSur"; }

.separator {
  background-color: #333232;
  padding-left: 0.5px;
  padding-right: 0.5px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem; }

.taskbar_icon_box {
  padding-left: 10px;
  padding-right: 10px; }

.indicator {
  padding: 0.25rem;
  margin-right: 0.15rem;
  margin-left: 0.15rem;
  border-radius: 0px;
  background-color: #ffffff; }

.start_menu_icon {
  color: #1b6e3c;
  background-color: transparent;
  font-size: 1.5rem; }

.start_menu_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #1b6e3c;
  margin-left: 10px; }
  .start_menu_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.systray_icon {
  color: #379224;
  background-color: transparent;
  font-size: 1.5rem; }

.systray_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #379224;
  margin-left: 10px; }
  .systray_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.systray_box {
  padding: 10px;
  border-radius: 0;
  background-color: #131313;
  margin-right: 0px;
  margin-bottom: 0px; }

.sys_app_icon {
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem; }

.sys_app_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid white;
  margin: 5px 10px 5px 10px; }
  .sys_app_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.empty_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #babdaf;
  margin: 5px 10px 5px 10px;
  background-color: #131313; }
  .empty_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }
  .empty_button:hover {
    background-color: #131313; }

.empty_icon {
  color: #babdaf;
  background-color: transparent;
  font-size: 1.5rem; }

menu {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  padding: 10px;
  margin-bottom: 0px; }
  menu menuitem {
    padding: 10px;
    border-radius: 0;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; }
    menu menuitem:hover {
      background-color: #3e3d3d;
      transition: ease-in 0.3s; }

.control_sliders {
  padding: 10px;
  border-radius: 0;
  min-height: 106px;
  margin-left: 0px;
  min-width: 425px;
  background-color: #131313;
  padding-top: 20px;
  padding-bottom: 20px; }

.volume {
  margin-bottom: 20px; }

.volume_slider {
  min-width: 381px; }
  .volume_slider trough {
    border-radius: 0px;
    background-color: #3e3d3d;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .volume_slider trough highlight, .volume_slider trough progress {
      background-color: #3d741c;
      border-radius: 0px; }
  .volume_slider slider {
    background-color: #3d741c;
    border-radius: 0px; }
  .volume_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #4a3131; }
  .volume_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #542727; }
  .volume_slider:hover highlight, .volume_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #39820e; }
  .volume_slider:disabled highlight, .volume_slider:disabled progress {
    background-color: #ffd2cc; }

.volume_icon {
  background-color: transparent;
  color: #3d741c;
  font-size: 1.5rem; }

.brightness {
  margin-bottom: 20px; }

.brightness_slider {
  min-width: 381px; }
  .brightness_slider trough {
    border-radius: 0px;
    background-color: #3e3d3d;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .brightness_slider trough highlight, .brightness_slider trough progress {
      background-color: #7ebd2f;
      border-radius: 0px; }
  .brightness_slider slider {
    background-color: #7ebd2f;
    border-radius: 0px; }
  .brightness_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #4a3131; }
  .brightness_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #542727; }
  .brightness_slider:hover highlight, .brightness_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #81d517; }
  .brightness_slider:disabled highlight, .brightness_slider:disabled progress {
    background-color: #ffd2cc; }

.brightness_icon {
  background-color: transparent;
  color: #7ebd2f;
  font-size: 1.5rem; }

.microphone_slider {
  min-width: 381px; }
  .microphone_slider trough {
    border-radius: 0px;
    background-color: #3e3d3d;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .microphone_slider trough highlight, .microphone_slider trough progress {
      background-color: #379224;
      border-radius: 0px; }
  .microphone_slider slider {
    background-color: #379224;
    border-radius: 0px; }
  .microphone_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #4a3131; }
  .microphone_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #542727; }
  .microphone_slider:hover highlight, .microphone_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #2ba412; }
  .microphone_slider:disabled highlight, .microphone_slider:disabled progress {
    background-color: #ffd2cc; }

.microphone_icon {
  background-color: transparent;
  color: #379224;
  font-size: 1.5rem; }

.control_menu {
  padding: 10px;
  border-radius: 0;
  min-height: 227.9px;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #131313;
  min-width: 425px; }

.wifi_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #282828;
  border: 0rem solid #3c1414;
  min-width: 385px;
  margin-bottom: 20px;
  color: #ffffff; }
  .wifi_button:hover {
    background-color: #341c1c;
    transition: ease-in 0.3s; }

.wifi_button.on {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3d741c;
  border: 0rem solid #369000;
  color: #131313; }
  .wifi_button.on:hover {
    background-color: #388a06;
    transition: ease-in 0.3s; }

.dnd_button.on {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1b6e3c;
  border: 0rem solid #008936;
  color: #131313; }
  .dnd_button.on:hover {
    background-color: #068338;
    transition: ease-in 0.3s; }

.dnd_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #282828;
  border: 0rem solid #3c1414;
  min-width: 177.5px;
  margin-right: 10px;
  margin-bottom: 20px;
  color: #ffffff; }
  .dnd_button:hover {
    background-color: #341c1c;
    transition: ease-in 0.3s; }

.bluetooth_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #282828;
  border: 0rem solid #3c1414;
  min-width: 177.5px;
  margin-bottom: 20px;
  color: #ffffff; }
  .bluetooth_button:hover {
    background-color: #341c1c;
    transition: ease-in 0.3s; }

.bluetooth_button.on {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1f7f25;
  border: 0rem solid #009e0a;
  color: #131313; }
  .bluetooth_button.on:hover {
    background-color: #079710;
    transition: ease-in 0.3s; }

.power_profiles_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #282828;
  border: 0rem solid #3c1414;
  min-width: 177.5px;
  margin-right: 10px;
  color: #ffffff; }
  .power_profiles_button:hover {
    background-color: #341c1c;
    transition: ease-in 0.3s; }

.power_profiles_button.perf {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1fb600;
  border: 0rem solid #1fb600;
  color: #131313; }
  .power_profiles_button.perf:hover {
    background-color: #1fb600;
    transition: ease-in 0.3s; }

.power_profiles_button.bal {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #379224;
  border: 0rem solid #1fb600;
  color: #131313; }
  .power_profiles_button.bal:hover {
    background-color: #25ad09;
    transition: ease-in 0.3s; }

.control_button_icon {
  background-color: transparent;
  font-size: 2.0rem;
  transition: ease-in 0.3s;
  margin-right: 10px; }

.control_button_header {
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 0.8rem;
  transition: ease-in 0.3s; }

.control_button_label {
  font-size: 0.7rem;
  transition: ease-in 0.3s; }
  .control_button_label * {
    font-family: "Iosevka Nerd Font"; }

.redshift_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  margin-right: 10px;
  min-width: 66.25px;
  border-radius: 0;
  padding: 13px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 0rem solid #3c1414;
  background-color: #282828;
  color: #ffffff; }
  .redshift_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.redshift_button.on {
  border: 0rem solid #6dd000;
  background-color: #6ba729;
  color: #ffffff; }

.redshift_icon {
  background-color: transparent;
  font-size: 1.5rem; }

.mute_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  min-width: 66.25px;
  border-radius: 0;
  padding: 13px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 0rem solid #3c1414;
  background-color: #282828;
  color: #ffffff;
  transition: ease-in 0.3s; }
  .mute_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.mute_button.on {
  border: 0rem solid #83ec00;
  background-color: #7ebd2f;
  color: #131313; }

.mute_icon {
  background-color: transparent;
  font-size: 1.5rem; }

.player {
  padding: 10px;
  border-radius: 0;
  min-height: 148.4px;
  margin-top: 0px;
  border: 20px solid #131313;
  background-color: #282828;
  background-size: cover;
  background-position: center;
  margin-left: 0px;
  margin-right: 0px; }

.player_controls {
  margin-top: 0px;
  padding: 10px;
  border-radius: 0;
  padding: 20px;
  background-color: #131313; }

.title {
  font-family: "Jetbrains Mono Nerd Font";
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1rem;
  color: #ffffff;
  opacity: 1.0;
  font-weight: bold; }

.artist {
  margin-left: 10px;
  font-size: 0.75rem;
  color: #ffffff;
  opacity: 1.0; }
  .artist * {
    font-family: "Iosevka Nerd Font"; }

.play-pause {
  background-color: transparent; }
  .play-pause:hover {
    color: #3d741c;
    transition: ease-in 0.3s; }

.play-pause-icon {
  background-color: transparent;
  font-size: 30px; }

.prev {
  background-color: transparent;
  margin-top: 6px; }
  .prev:hover {
    color: #3d741c;
    transition: ease-in 0.3s; }

.prev-icon {
  background-color: transparent;
  font-size: 20px; }

.next {
  background-color: transparent;
  margin-top: 6px; }
  .next:hover {
    color: #3d741c;
    transition: ease-in 0.3s; }

.next-icon {
  background-color: transparent;
  font-size: 20px; }

.position {
  font-size: 10px;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 10px; }
  .position * {
    font-family: "Iosevka Nerd Font"; }

.length {
  font-size: 10px;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px; }
  .length * {
    font-family: "Iosevka Nerd Font"; }

.position-slider {
  all: unset;
  margin-left: 10px;
  margin-right: 10px; }
  .position-slider trough {
    border-radius: 0px;
    background-color: #282828;
    min-height: 8px;
    min-width: 50px; }
    .position-slider trough highlight, .position-slider trough progress {
      background-color: #3d741c;
      border-radius: 0px; }
  .position-slider slider {
    background-color: #3d741c;
    border-radius: 0px; }
  .position-slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #302020; }
  .position-slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #378d03; }
  .position-slider:hover highlight, .position-slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #39820e; }
  .position-slider:disabled highlight, .position-slider:disabled progress {
    background-color: #ffd2cc; }
  .position-slider trough:focus {
    background-color: #1b6e3c; }
    .position-slider trough:focus slider {
      background-color: #1b6e3c; }

.notification {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  min-width: 25rem;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  background-color: #1e1d1e; }

window.notification-popups box.notifications {
  padding: 10px; }

.noti_icon {
  min-width: 6.25rem;
  min-height: 6.25rem;
  margin-right: 10px; }

.placeholder_icon {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  background-color: #babdaf;
  color: #babdaf;
  min-width: 6.25rem;
  min-height: 6.25rem; }

.noti_icon image {
  font-size: 6.25rem;
  color: #babdaf; }

.noti_icon box {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  min-width: 6.25rem;
  min-height: 6.25rem;
  background-color: #babdaf;
  color: #babdaf; }

.notification.critical {
  background-color: #3c1414; }

.noti_title {
  font-family: "Jetbrains Mono Nerd Font";
  color: #3d741c;
  font-size: 1.2em;
  font-weight: 500; }

.noti_time {
  color: #82847a;
  font-size: 1.0em;
  font-weight: 300; }
  .noti_time * {
    font-family: "Iosevka Nerd Font"; }

.body {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 0.8em; }
  .body * {
    font-family: "Iosevka Nerd Font"; }

.action-button {
  font-family: "Jetbrains Mono Nerd Font";
  padding: 10px;
  background-color: #6ba729;
  margin-left: 10px; }

.action_button_text {
  font-weight: 500; }

.action-button:first-child {
  margin-left: 0; }

.action-button:last-child {
  margin-right: 0; }

.notifications_tray {
  padding: 10px;
  border-radius: 0;
  min-width: 425px;
  min-height: 424px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: #131313; }

.notifications_header {
  font-family: "Jetbrains Mono Nerd Font";
  margin: 10px;
  font-size: 2em; }

.clear_icon {
  color: #3d741c;
  background-color: transparent;
  font-size: 1.5rem; }

.clear_button {
  padding: 10px;
  border-radius: 0;
  background-color: #282828;
  border: 0rem solid #3e3d3d;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #282828;
  border: 0rem solid #3d741c;
  margin: 0; }
  .clear_button:hover {
    background-color: #434749;
    transition: ease-in 0.3s; }

.placeholder {
  font-size: 1.5em; }

.theming_sliders {
  padding: 10px;
  border-radius: 0;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 425px;
  background-color: #131313;
  padding-top: 20px;
  padding-bottom: 20px; }

.rounding {
  margin-bottom: 20px; }

.rounding_slider {
  min-width: 381px; }
  .rounding_slider trough {
    border-radius: 0px;
    background-color: #3e3d3d;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .rounding_slider trough highlight, .rounding_slider trough progress {
      background-color: #3d741c;
      border-radius: 0px; }
  .rounding_slider slider {
    background-color: #3d741c;
    border-radius: 0px; }
  .rounding_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #4a3131; }
  .rounding_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #542727; }
  .rounding_slider:hover highlight, .rounding_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #39820e; }
  .rounding_slider:disabled highlight, .rounding_slider:disabled progress {
    background-color: #ffd2cc; }

.rounding_icon {
  background-color: transparent;
  color: #3d741c;
  font-size: 1.5rem; }
