.media {
}

.player {
    @include widget;
    min-height: $left_menu_height * 2 / 10 - $outer_gap;
    margin-top: $outer_gap;
    border: (2 * $gap) solid $background-t;
    background-color: $surface_container-t;
    background-size: cover;
    background-position: center;
    margin-left: $outer_gap;
    margin-right: $outer_gap;
}

.player_controls {
    margin-top: $outer_gap;
    min-height: $left_menu_height * 2 / 10 - $outer_gap;
    @include widget;
    padding: 2 * $gap;
    background-color: $background-t;
}


.title {
    @include common;
    margin-left: $gap;
    margin-top: $gap;
    font-size: 1rem;
    color: $on_surface;
    opacity: 1.0;
    font-weight: bold;
}
.artist {
    @include common;
    margin-left: $gap;
    font-size: 0.75rem;
    color: $on_surface;
    opacity: 1.0;
}

.play-pause {
    background-color: transparent;
    &:hover {
        color: $color1;
        transition: ease-in 0.3s;
    }
}
.play-pause-icon {
    background-color: transparent;
    font-size: 30px;
}

.prev {
    background-color: transparent;
    margin-top: 6px;
    &:hover {
        color: $color1;
        transition: ease-in 0.3s;
    }
}
.prev-icon {
    background-color: transparent;
    font-size: 20px;
}
.next {
    background-color: transparent;
    margin-top: 6px;
    &:hover {
        color: $color1;
        transition: ease-in 0.3s;
    }
}
.next-icon {
    background-color: transparent;
    font-size: 20px;
}

.position {
    @include common;
    font-size: 10px;
    color: $on_surface;
    margin-left: 10px;
    margin-bottom: 10px;
}

.length {
    @include common;
    font-size: 10px;
    color: $on_surface;
    margin-right: 10px;
    margin-bottom: 10px;
}

.position-slider {
    all: unset;
    margin-left: $gap;
    margin-right: $gap;

    trough{
        border-radius: $rounding;
        background-color: $surface-container-t;
        min-height: 8px;
        min-width:  50px;

        highlight, progress{
            background-color: $color1;
            border-radius: $rounding;
        }
    }

    slider {
        background-color: $color1;
        border-radius: $rounding;
    }

    &:hover {
        trough {
            transition: ease-in 0.3s;
            background-color: saturate($surface-container-t, 20);
        }

        slider {
            transition: ease-in 0.3s;
            background-color: saturate($color1, 35);
        }

        highlight, progress {
            transition: ease-in 0.3s;
            background-color: saturate($color1, 20);
        }
    }

    &:disabled {
        highlight, progress{
            background-color: $error;
        }
    }

    trough:focus{
        background-color: $color2;

        slider {
            background-color: $color2;
        }
    }
}
