.notifications_tray {
    @include widget;
    min-width: $left_menu_width;
    min-height: $left_menu_height * 0.4;
    margin-top: $outer_gap;
    margin-left: $outer_gap;
    background-color: $background-t;
}

.notifications_header {
    @include header;
    margin: $gap;
    font-size: 2em;
}

.clear_icon {
    @include button_icon($color1);
}
.clear_button {
    @include button($color1);
    margin: 0;
}

.placeholder {
    font-size: 1.5em;
}

.notifications_list { 
}
.notification_scrollable { 
}
