.notification {
    @include element;
    min-width: 25rem;
    padding: $gap;
    margin: $gap;
    margin-bottom: 0;
    background-color: $surface-container_low-t;
}

window.notification-popups box.notifications {
    padding: $gap;
}

.noti_icon {
    min-width: 6.25rem;
    min-height: 6.25rem;
    margin-right: $gap;
}
.placeholder_icon {
    @include element;
    background-color: $color7;
    color: $color7;
    min-width: 6.25rem;
    min-height: 6.25rem;
}

.noti_icon image {
    font-size: 6.25rem;
    color: $color7;
}

.noti_icon box {
    @include element;
    min-width: 6.25rem;
    min-height: 6.25rem;
    background-color: $color7;
    color: $color7;
}


.notification.critical {
    background-color: saturate($surface_container, 50);
}

.noti_title {
    @include header;
    color: $color1;
    font-size: 1.2em;
    font-weight: 500;
}

.noti_time {
    @include common;
    color: $color8;
    font-size: 1.0em;
    font-weight: 300;
}

.body {
    @include common;
    margin-bottom: $gap;
    color: $on_surface;
    font-size: 0.8em;
}

.actions {
}

.action-button {
    @include header;
    padding: $gap;
    background-color: $color5;
    margin-left: $gap;
}
.action_button_text {
    font-weight: 500;
}

.action-button:first-child {
    margin-left: 0;
}

.action-button:last-child {
    margin-right: 0;
}
