  $rounding: 5px;
  $transparency: 1.0;
  $gap_var: 10px;

  
  $background-t: fade-out(
    $color: #111318,
    $amount: 1.0 - 1.0,
  );
  
  $error-t: fade-out(
    $color: #ffb4ab,
    $amount: 1.0 - 1.0,
  );
  
  $error_container-t: fade-out(
    $color: #a7060f,
    $amount: 1.0 - 1.0,
  );
  
  $inverse_on_surface-t: fade-out(
    $color: #2e3036,
    $amount: 1.0 - 1.0,
  );
  
  $inverse_primary-t: fade-out(
    $color: #425e91,
    $amount: 1.0 - 1.0,
  );
  
  $inverse_surface-t: fade-out(
    $color: #e2e2e9,
    $amount: 1.0 - 1.0,
  );
  
  $on_background-t: fade-out(
    $color: #e2e2e9,
    $amount: 1.0 - 1.0,
  );
  
  $on_error-t: fade-out(
    $color: #660004,
    $amount: 1.0 - 1.0,
  );
  
  $on_error_container-t: fade-out(
    $color: #ffffff,
    $amount: 1.0 - 1.0,
  );
  
  $on_primary-t: fade-out(
    $color: #0b2e5e,
    $amount: 1.0 - 1.0,
  );
  
  $on_primary_container-t: fade-out(
    $color: #ffffff,
    $amount: 1.0 - 1.0,
  );
  
  $on_primary_fixed-t: fade-out(
    $color: #001a40,
    $amount: 1.0 - 1.0,
  );
  
  $on_primary_fixed_variant-t: fade-out(
    $color: #294677,
    $amount: 1.0 - 1.0,
  );
  
  $on_secondary-t: fade-out(
    $color: #272f40,
    $amount: 1.0 - 1.0,
  );
  
  $on_secondary_container-t: fade-out(
    $color: #dae2f9,
    $amount: 1.0 - 1.0,
  );
  
  $on_secondary_fixed-t: fade-out(
    $color: #131c2c,
    $amount: 1.0 - 1.0,
  );
  
  $on_secondary_fixed_variant-t: fade-out(
    $color: #3f4759,
    $amount: 1.0 - 1.0,
  );
  
  $on_surface-t: fade-out(
    $color: #e2e2e9,
    $amount: 1.0 - 1.0,
  );
  
  $on_surface_variant-t: fade-out(
    $color: #c4c6d0,
    $amount: 1.0 - 1.0,
  );
  
  $on_tertiary-t: fade-out(
    $color: #3e2642,
    $amount: 1.0 - 1.0,
  );
  
  $on_tertiary_container-t: fade-out(
    $color: #ffffff,
    $amount: 1.0 - 1.0,
  );
  
  $on_tertiary_fixed-t: fade-out(
    $color: #29132e,
    $amount: 1.0 - 1.0,
  );
  
  $on_tertiary_fixed_variant-t: fade-out(
    $color: #573e5b,
    $amount: 1.0 - 1.0,
  );
  
  $outline-t: fade-out(
    $color: #8e9099,
    $amount: 1.0 - 1.0,
  );
  
  $outline_variant-t: fade-out(
    $color: #4f525a,
    $amount: 1.0 - 1.0,
  );
  
  $primary-t: fade-out(
    $color: #acc7ff,
    $amount: 1.0 - 1.0,
  );
  
  $primary_container-t: fade-out(
    $color: #355283,
    $amount: 1.0 - 1.0,
  );
  
  $primary_fixed-t: fade-out(
    $color: #d7e2ff,
    $amount: 1.0 - 1.0,
  );
  
  $primary_fixed_dim-t: fade-out(
    $color: #acc7ff,
    $amount: 1.0 - 1.0,
  );
  
  $scrim-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 1.0,
  );
  
  $secondary-t: fade-out(
    $color: #bec6dc,
    $amount: 1.0 - 1.0,
  );
  
  $secondary_container-t: fade-out(
    $color: #4a5264,
    $amount: 1.0 - 1.0,
  );
  
  $secondary_fixed-t: fade-out(
    $color: #dae2f9,
    $amount: 1.0 - 1.0,
  );
  
  $secondary_fixed_dim-t: fade-out(
    $color: #bec6dc,
    $amount: 1.0 - 1.0,
  );
  
  $shadow-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 1.0,
  );
  
  $source_color-t: fade-out(
    $color: #8694b3,
    $amount: 1.0 - 1.0,
  );
  
  $surface-t: fade-out(
    $color: #111318,
    $amount: 1.0 - 1.0,
  );
  
  $surface_bright-t: fade-out(
    $color: #3a3b41,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container-t: fade-out(
    $color: #1f2126,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container_high-t: fade-out(
    $color: #2a2c31,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container_highest-t: fade-out(
    $color: #35363c,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container_low-t: fade-out(
    $color: #1a1c21,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container_lowest-t: fade-out(
    $color: #0b0d12,
    $amount: 1.0 - 1.0,
  );
  
  $surface_dim-t: fade-out(
    $color: #111318,
    $amount: 1.0 - 1.0,
  );
  
  $surface_variant-t: fade-out(
    $color: #44474e,
    $amount: 1.0 - 1.0,
  );
  
  $tertiary-t: fade-out(
    $color: #ddbce0,
    $amount: 1.0 - 1.0,
  );
  
  $tertiary_container-t: fade-out(
    $color: #634967,
    $amount: 1.0 - 1.0,
  );
  
  $tertiary_fixed-t: fade-out(
    $color: #fad7fc,
    $amount: 1.0 - 1.0,
  );
  
  $tertiary_fixed_dim-t: fade-out(
    $color: #ddbce0,
    $amount: 1.0 - 1.0,
  );
  

  
  $background: #111318;
  
  $error: #ffb4ab;
  
  $error_container: #a7060f;
  
  $inverse_on_surface: #2e3036;
  
  $inverse_primary: #425e91;
  
  $inverse_surface: #e2e2e9;
  
  $on_background: #e2e2e9;
  
  $on_error: #660004;
  
  $on_error_container: #ffffff;
  
  $on_primary: #0b2e5e;
  
  $on_primary_container: #ffffff;
  
  $on_primary_fixed: #001a40;
  
  $on_primary_fixed_variant: #294677;
  
  $on_secondary: #272f40;
  
  $on_secondary_container: #dae2f9;
  
  $on_secondary_fixed: #131c2c;
  
  $on_secondary_fixed_variant: #3f4759;
  
  $on_surface: #e2e2e9;
  
  $on_surface_variant: #c4c6d0;
  
  $on_tertiary: #3e2642;
  
  $on_tertiary_container: #ffffff;
  
  $on_tertiary_fixed: #29132e;
  
  $on_tertiary_fixed_variant: #573e5b;
  
  $outline: #8e9099;
  
  $outline_variant: #4f525a;
  
  $primary: #acc7ff;
  
  $primary_container: #355283;
  
  $primary_fixed: #d7e2ff;
  
  $primary_fixed_dim: #acc7ff;
  
  $scrim: #000000;
  
  $secondary: #bec6dc;
  
  $secondary_container: #4a5264;
  
  $secondary_fixed: #dae2f9;
  
  $secondary_fixed_dim: #bec6dc;
  
  $shadow: #000000;
  
  $source_color: #8694b3;
  
  $surface: #111318;
  
  $surface_bright: #3a3b41;
  
  $surface_container: #1f2126;
  
  $surface_container_high: #2a2c31;
  
  $surface_container_highest: #35363c;
  
  $surface_container_low: #1a1c21;
  
  $surface_container_lowest: #0b0d12;
  
  $surface_dim: #111318;
  
  $surface_variant: #44474e;
  
  $tertiary: #ddbce0;
  
  $tertiary_container: #634967;
  
  $tertiary_fixed: #fad7fc;
  
  $tertiary_fixed_dim: #ddbce0;
  
