  $rounding: 40px;
  $transparency: 1.0;
  $gap_var: 20px;
  $font: "Iosevka Nerd Font";
  $header_font: "Jetbrains Mono Nerd Font";

  
  $background-t: fade-out(
    $color: #121316,
    $amount: 1.0 - 1.0,
  );
  
  $error-t: fade-out(
    $color: #ffd2cc,
    $amount: 1.0 - 1.0,
  );
  
  $error_container-t: fade-out(
    $color: #ff5449,
    $amount: 1.0 - 1.0,
  );
  
  $inverse_on_surface-t: fade-out(
    $color: #292a2c,
    $amount: 1.0 - 1.0,
  );
  
  $inverse_primary-t: fade-out(
    $color: #334968,
    $amount: 1.0 - 1.0,
  );
  
  $inverse_surface-t: fade-out(
    $color: #e3e2e5,
    $amount: 1.0 - 1.0,
  );
  
  $on_background-t: fade-out(
    $color: #e3e2e5,
    $amount: 1.0 - 1.0,
  );
  
  $on_error-t: fade-out(
    $color: #540003,
    $amount: 1.0 - 1.0,
  );
  
  $on_error_container-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 1.0,
  );
  
  $on_primary-t: fade-out(
    $color: #0d2643,
    $amount: 1.0 - 1.0,
  );
  
  $on_primary_container-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 1.0,
  );
  
  $on_primary_fixed-t: fade-out(
    $color: #001127,
    $amount: 1.0 - 1.0,
  );
  
  $on_primary_fixed_variant-t: fade-out(
    $color: #203755,
    $amount: 1.0 - 1.0,
  );
  
  $on_secondary-t: fade-out(
    $color: #1e2632,
    $amount: 1.0 - 1.0,
  );
  
  $on_secondary_container-t: fade-out(
    $color: #ffffff,
    $amount: 1.0 - 1.0,
  );
  
  $on_secondary_fixed-t: fade-out(
    $color: #09121d,
    $amount: 1.0 - 1.0,
  );
  
  $on_secondary_fixed_variant-t: fade-out(
    $color: #2f3743,
    $amount: 1.0 - 1.0,
  );
  
  $on_surface-t: fade-out(
    $color: #ffffff,
    $amount: 1.0 - 1.0,
  );
  
  $on_surface_variant-t: fade-out(
    $color: #dadce4,
    $amount: 1.0 - 1.0,
  );
  
  $on_tertiary-t: fade-out(
    $color: #352200,
    $amount: 1.0 - 1.0,
  );
  
  $on_tertiary_container-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 1.0,
  );
  
  $on_tertiary_fixed-t: fade-out(
    $color: #1a0f00,
    $amount: 1.0 - 1.0,
  );
  
  $on_tertiary_fixed_variant-t: fade-out(
    $color: #493205,
    $amount: 1.0 - 1.0,
  );
  
  $outline-t: fade-out(
    $color: #afb2ba,
    $amount: 1.0 - 1.0,
  );
  
  $outline_variant-t: fade-out(
    $color: #8d9098,
    $amount: 1.0 - 1.0,
  );
  
  $primary-t: fade-out(
    $color: #caddff,
    $amount: 1.0 - 1.0,
  );
  
  $primary_container-t: fade-out(
    $color: #7c92b4,
    $amount: 1.0 - 1.0,
  );
  
  $primary_fixed-t: fade-out(
    $color: #d4e3ff,
    $amount: 1.0 - 1.0,
  );
  
  $primary_fixed_dim-t: fade-out(
    $color: #b1c8ec,
    $amount: 1.0 - 1.0,
  );
  
  $scrim-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 1.0,
  );
  
  $secondary-t: fade-out(
    $color: #d5dded,
    $amount: 1.0 - 1.0,
  );
  
  $secondary_container-t: fade-out(
    $color: #8991a0,
    $amount: 1.0 - 1.0,
  );
  
  $secondary_fixed-t: fade-out(
    $color: #dbe3f3,
    $amount: 1.0 - 1.0,
  );
  
  $secondary_fixed_dim-t: fade-out(
    $color: #bfc7d7,
    $amount: 1.0 - 1.0,
  );
  
  $shadow-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 1.0,
  );
  
  $source_color-t: fade-out(
    $color: #4c6282,
    $amount: 1.0 - 1.0,
  );
  
  $surface-t: fade-out(
    $color: #121316,
    $amount: 1.0 - 1.0,
  );
  
  $surface_bright-t: fade-out(
    $color: #444447,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container-t: fade-out(
    $color: #27282a,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container_high-t: fade-out(
    $color: #323235,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container_highest-t: fade-out(
    $color: #3d3d40,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container_low-t: fade-out(
    $color: #1d1e20,
    $amount: 1.0 - 1.0,
  );
  
  $surface_container_lowest-t: fade-out(
    $color: #060709,
    $amount: 1.0 - 1.0,
  );
  
  $surface_dim-t: fade-out(
    $color: #121316,
    $amount: 1.0 - 1.0,
  );
  
  $surface_variant-t: fade-out(
    $color: #44474d,
    $amount: 1.0 - 1.0,
  );
  
  $tertiary-t: fade-out(
    $color: #fdd79b,
    $amount: 1.0 - 1.0,
  );
  
  $tertiary_container-t: fade-out(
    $color: #ac8c57,
    $amount: 1.0 - 1.0,
  );
  
  $tertiary_fixed-t: fade-out(
    $color: #ffdeac,
    $amount: 1.0 - 1.0,
  );
  
  $tertiary_fixed_dim-t: fade-out(
    $color: #e6c187,
    $amount: 1.0 - 1.0,
  );
  

  
  $background: #121316;
  
  $error: #ffd2cc;
  
  $error_container: #ff5449;
  
  $inverse_on_surface: #292a2c;
  
  $inverse_primary: #334968;
  
  $inverse_surface: #e3e2e5;
  
  $on_background: #e3e2e5;
  
  $on_error: #540003;
  
  $on_error_container: #000000;
  
  $on_primary: #0d2643;
  
  $on_primary_container: #000000;
  
  $on_primary_fixed: #001127;
  
  $on_primary_fixed_variant: #203755;
  
  $on_secondary: #1e2632;
  
  $on_secondary_container: #ffffff;
  
  $on_secondary_fixed: #09121d;
  
  $on_secondary_fixed_variant: #2f3743;
  
  $on_surface: #ffffff;
  
  $on_surface_variant: #dadce4;
  
  $on_tertiary: #352200;
  
  $on_tertiary_container: #000000;
  
  $on_tertiary_fixed: #1a0f00;
  
  $on_tertiary_fixed_variant: #493205;
  
  $outline: #afb2ba;
  
  $outline_variant: #8d9098;
  
  $primary: #caddff;
  
  $primary_container: #7c92b4;
  
  $primary_fixed: #d4e3ff;
  
  $primary_fixed_dim: #b1c8ec;
  
  $scrim: #000000;
  
  $secondary: #d5dded;
  
  $secondary_container: #8991a0;
  
  $secondary_fixed: #dbe3f3;
  
  $secondary_fixed_dim: #bfc7d7;
  
  $shadow: #000000;
  
  $source_color: #4c6282;
  
  $surface: #121316;
  
  $surface_bright: #444447;
  
  $surface_container: #27282a;
  
  $surface_container_high: #323235;
  
  $surface_container_highest: #3d3d40;
  
  $surface_container_low: #1d1e20;
  
  $surface_container_lowest: #060709;
  
  $surface_dim: #121316;
  
  $surface_variant: #44474d;
  
  $tertiary: #fdd79b;
  
  $tertiary_container: #ac8c57;
  
  $tertiary_fixed: #ffdeac;
  
  $tertiary_fixed_dim: #e6c187;
  
