  $rounding: 0px;
  $transparency: 0.8;

  
  $background-t: fade-out(
    $color: #181215,
    $amount: 1.0 - 0.8,
  );
  
  $error-t: fade-out(
    $color: #ffd2cc,
    $amount: 1.0 - 0.8,
  );
  
  $error_container-t: fade-out(
    $color: #ff5449,
    $amount: 1.0 - 0.8,
  );
  
  $inverse_on_surface-t: fade-out(
    $color: #2f282c,
    $amount: 1.0 - 0.8,
  );
  
  $inverse_primary-t: fade-out(
    $color: #6a365c,
    $amount: 1.0 - 0.8,
  );
  
  $inverse_surface-t: fade-out(
    $color: #ecdfe5,
    $amount: 1.0 - 0.8,
  );
  
  $on_background-t: fade-out(
    $color: #ecdfe5,
    $amount: 1.0 - 0.8,
  );
  
  $on_error-t: fade-out(
    $color: #540003,
    $amount: 1.0 - 0.8,
  );
  
  $on_error_container-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 0.8,
  );
  
  $on_primary-t: fade-out(
    $color: #421338,
    $amount: 1.0 - 0.8,
  );
  
  $on_primary_container-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 0.8,
  );
  
  $on_primary_fixed-t: fade-out(
    $color: #280021,
    $amount: 1.0 - 0.8,
  );
  
  $on_primary_fixed_variant-t: fade-out(
    $color: #55244a,
    $amount: 1.0 - 0.8,
  );
  
  $on_secondary-t: fade-out(
    $color: #33202d,
    $amount: 1.0 - 0.8,
  );
  
  $on_secondary_container-t: fade-out(
    $color: #ffffff,
    $amount: 1.0 - 0.8,
  );
  
  $on_secondary_fixed-t: fade-out(
    $color: #1c0b18,
    $amount: 1.0 - 0.8,
  );
  
  $on_secondary_fixed_variant-t: fade-out(
    $color: #45303e,
    $amount: 1.0 - 0.8,
  );
  
  $on_surface-t: fade-out(
    $color: #ffffff,
    $amount: 1.0 - 0.8,
  );
  
  $on_surface_variant-t: fade-out(
    $color: #e9d8e0,
    $amount: 1.0 - 0.8,
  );
  
  $on_tertiary-t: fade-out(
    $color: #3e1c0d,
    $amount: 1.0 - 0.8,
  );
  
  $on_tertiary_container-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 0.8,
  );
  
  $on_tertiary_fixed-t: fade-out(
    $color: #240800,
    $amount: 1.0 - 0.8,
  );
  
  $on_tertiary_fixed_variant-t: fade-out(
    $color: #522c1c,
    $amount: 1.0 - 0.8,
  );
  
  $outline-t: fade-out(
    $color: #bdaeb5,
    $amount: 1.0 - 0.8,
  );
  
  $outline_variant-t: fade-out(
    $color: #9b8c94,
    $amount: 1.0 - 0.8,
  );
  
  $primary-t: fade-out(
    $color: #ffceed,
    $amount: 1.0 - 0.8,
  );
  
  $primary_container-t: fade-out(
    $color: #bb7da8,
    $amount: 1.0 - 0.8,
  );
  
  $primary_fixed-t: fade-out(
    $color: #ffd7ef,
    $amount: 1.0 - 0.8,
  );
  
  $primary_fixed_dim-t: fade-out(
    $color: #f6b2df,
    $amount: 1.0 - 0.8,
  );
  
  $scrim-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 0.8,
  );
  
  $secondary-t: fade-out(
    $color: #f3d4e6,
    $amount: 1.0 - 0.8,
  );
  
  $secondary_container-t: fade-out(
    $color: #a48999,
    $amount: 1.0 - 0.8,
  );
  
  $secondary_fixed-t: fade-out(
    $color: #fadaec,
    $amount: 1.0 - 0.8,
  );
  
  $secondary_fixed_dim-t: fade-out(
    $color: #dcbed0,
    $amount: 1.0 - 0.8,
  );
  
  $shadow-t: fade-out(
    $color: #000000,
    $amount: 1.0 - 0.8,
  );
  
  $source_color-t: fade-out(
    $color: #ac7c9c,
    $amount: 1.0 - 0.8,
  );
  
  $surface-t: fade-out(
    $color: #181215,
    $amount: 1.0 - 0.8,
  );
  
  $surface_bright-t: fade-out(
    $color: #4b4247,
    $amount: 1.0 - 0.8,
  );
  
  $surface_container-t: fade-out(
    $color: #2d262a,
    $amount: 1.0 - 0.8,
  );
  
  $surface_container_high-t: fade-out(
    $color: #383035,
    $amount: 1.0 - 0.8,
  );
  
  $surface_container_highest-t: fade-out(
    $color: #443b40,
    $amount: 1.0 - 0.8,
  );
  
  $surface_container_low-t: fade-out(
    $color: #221c20,
    $amount: 1.0 - 0.8,
  );
  
  $surface_container_lowest-t: fade-out(
    $color: #0b0609,
    $amount: 1.0 - 0.8,
  );
  
  $surface_dim-t: fade-out(
    $color: #181215,
    $amount: 1.0 - 0.8,
  );
  
  $surface_variant-t: fade-out(
    $color: #4f444a,
    $amount: 1.0 - 0.8,
  );
  
  $tertiary-t: fade-out(
    $color: #ffd3c2,
    $amount: 1.0 - 0.8,
  );
  
  $tertiary_container-t: fade-out(
    $color: #b9846f,
    $amount: 1.0 - 0.8,
  );
  
  $tertiary_fixed-t: fade-out(
    $color: #ffdbcd,
    $amount: 1.0 - 0.8,
  );
  
  $tertiary_fixed_dim-t: fade-out(
    $color: #f5b9a1,
    $amount: 1.0 - 0.8,
  );
  

  
  $background: #181215;
  
  $error: #ffd2cc;
  
  $error_container: #ff5449;
  
  $inverse_on_surface: #2f282c;
  
  $inverse_primary: #6a365c;
  
  $inverse_surface: #ecdfe5;
  
  $on_background: #ecdfe5;
  
  $on_error: #540003;
  
  $on_error_container: #000000;
  
  $on_primary: #421338;
  
  $on_primary_container: #000000;
  
  $on_primary_fixed: #280021;
  
  $on_primary_fixed_variant: #55244a;
  
  $on_secondary: #33202d;
  
  $on_secondary_container: #ffffff;
  
  $on_secondary_fixed: #1c0b18;
  
  $on_secondary_fixed_variant: #45303e;
  
  $on_surface: #ffffff;
  
  $on_surface_variant: #e9d8e0;
  
  $on_tertiary: #3e1c0d;
  
  $on_tertiary_container: #000000;
  
  $on_tertiary_fixed: #240800;
  
  $on_tertiary_fixed_variant: #522c1c;
  
  $outline: #bdaeb5;
  
  $outline_variant: #9b8c94;
  
  $primary: #ffceed;
  
  $primary_container: #bb7da8;
  
  $primary_fixed: #ffd7ef;
  
  $primary_fixed_dim: #f6b2df;
  
  $scrim: #000000;
  
  $secondary: #f3d4e6;
  
  $secondary_container: #a48999;
  
  $secondary_fixed: #fadaec;
  
  $secondary_fixed_dim: #dcbed0;
  
  $shadow: #000000;
  
  $source_color: #ac7c9c;
  
  $surface: #181215;
  
  $surface_bright: #4b4247;
  
  $surface_container: #2d262a;
  
  $surface_container_high: #383035;
  
  $surface_container_highest: #443b40;
  
  $surface_container_low: #221c20;
  
  $surface_container_lowest: #0b0609;
  
  $surface_dim: #181215;
  
  $surface_variant: #4f444a;
  
  $tertiary: #ffd3c2;
  
  $tertiary_container: #b9846f;
  
  $tertiary_fixed: #ffdbcd;
  
  $tertiary_fixed_dim: #f5b9a1;
  
