$rounding: 5px;


$background: #0c1514;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #293230;

$inverse_primary: #8f4d1e;

$inverse_surface: #dae5e2;

$on_background: #dae5e2;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #512300;

$on_primary_container: #ffdbc8;

$on_primary_fixed: #321300;

$on_primary_fixed_variant: #723606;

$on_secondary: #02363f;

$on_secondary_container: #beeaf6;

$on_secondary_fixed: #001f26;

$on_secondary_fixed_variant: #214d57;

$on_surface: #dae5e2;

$on_surface_variant: #b8cac6;

$on_tertiary: #003734;

$on_tertiary_container: #a8f0e9;

$on_tertiary_fixed: #00201e;

$on_tertiary_fixed_variant: #00504c;

$outline: #829491;

$outline_variant: #394a47;

$primary: #ffb689;

$primary_container: #723606;

$primary_fixed: #ffdbc8;

$primary_fixed_dim: #ffb689;

$scrim: #000000;

$secondary: #a2ceda;

$secondary_container: #a2ceda;

$secondary_fixed: #beeaf6;

$secondary_fixed_dim: #a2ceda;

$shadow: #000000;

$source_color: #a0b6ab;

$surface: #0c1514;

$surface_bright: #313b39;

$surface_container: #182120;

$surface_container_high: #222c2a;

$surface_container_highest: #2d3735;

$surface_container_low: #141d1c;

$surface_container_lowest: #07100e;

$surface_dim: #0c1514;

$surface_variant: #394a47;

$tertiary: #8cd3cd;

$tertiary_container: #00504c;

$tertiary_fixed: #a8f0e9;

$tertiary_fixed_dim: #8cd3cd;

