$rounding: 15px;


$background: #131413;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #303130;

$inverse_primary: #4e635a;

$inverse_surface: #e4e2e0;

$on_background: #e4e2e0;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #21342c;

$on_primary_container: #162922;

$on_primary_fixed: #0c1f18;

$on_primary_fixed_variant: #374b42;

$on_secondary: #2a322e;

$on_secondary_container: #c4cdc7;

$on_secondary_fixed: #161d1a;

$on_secondary_fixed_variant: #414944;

$on_surface: #e4e2e0;

$on_surface_variant: #c2c8c3;

$on_tertiary: #29303f;

$on_tertiary_container: #1f2635;

$on_tertiary_fixed: #141c2a;

$on_tertiary_fixed_variant: #404757;

$outline: #8c928e;

$outline_variant: #424845;

$primary: #bbd2c6;

$primary_container: #a0b6ab;

$primary_fixed: #d1e8dc;

$primary_fixed_dim: #b5ccc0;

$scrim: #000000;

$secondary: #c0c8c3;

$secondary_container: #c6cec9;

$secondary_fixed: #dce4df;

$secondary_fixed_dim: #c0c8c3;

$shadow: #000000;

$source_color: #a0b6ab;

$surface: #131413;

$surface_bright: #393938;

$surface_container: #1f201f;

$surface_container_high: #292a29;

$surface_container_highest: #343534;

$surface_container_low: #1b1c1b;

$surface_container_lowest: #0d0e0e;

$surface_dim: #131413;

$surface_variant: #424845;

$tertiary: #c6cce0;

$tertiary_container: #aab1c4;

$tertiary_fixed: #dbe2f6;

$tertiary_fixed_dim: #bfc6da;

