$rounding: 15px;


$background: #11131a;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #2f3038;

$inverse_primary: #3e692e;

$inverse_surface: #e2e1ec;

$on_background: #e2e1ec;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #103803;

$on_primary_container: #bff0a6;

$on_primary_fixed: #052100;

$on_primary_fixed_variant: #275018;

$on_secondary: #482537;

$on_secondary_container: #ffd8e8;

$on_secondary_fixed: #2f1122;

$on_secondary_fixed_variant: #613b4e;

$on_surface: #e2e1ec;

$on_surface_variant: #c4c5d6;

$on_tertiary: #212e5a;

$on_tertiary_container: #dce1ff;

$on_tertiary_fixed: #0a1844;

$on_tertiary_fixed_variant: #384472;

$outline: #8e909f;

$outline_variant: #444654;

$primary: #a3d48c;

$primary_container: #275018;

$primary_fixed: #bff0a6;

$primary_fixed_dim: #a3d48c;

$scrim: #000000;

$secondary: #ebb8cf;

$secondary_container: #ebb8cf;

$secondary_fixed: #ffd8e8;

$secondary_fixed_dim: #ebb8cf;

$shadow: #000000;

$source_color: #246fc2;

$surface: #11131a;

$surface_bright: #373941;

$surface_container: #1e1f27;

$surface_container_high: #282a31;

$surface_container_highest: #33343c;

$surface_container_low: #1a1b23;

$surface_container_lowest: #0c0e15;

$surface_dim: #11131a;

$surface_variant: #444654;

$tertiary: #b8c4fa;

$tertiary_container: #384472;

$tertiary_fixed: #dce1ff;

$tertiary_fixed_dim: #b8c4fa;

