
*:not(switch) {
    all: unset;
}

@mixin common{
    * {
        font-family: Jetbrains Mono, sans-serif;
    }
}

@mixin widget{
    @include common;
    border-radius: $rounding;
}

@mixin button {
    @include common;
    border-radius: $rounding;
    padding: 5px;
}
