$color0:  #0B1827;
$color8:  #9c7b83;     
$color1:  #26699b;    
$color9:  #26699b;     
$color2:  #2a40ac;     
$color10: #2a40ac;     
$color3:  #512cb0;     
$color11: #512cb0;     
$color4:  #2962a5;     
$color12: #2962a5;     
$color5:  #5d2eba;     
$color13: #5d2eba;     
$color6:  #ce3c86;     
$color14: #ce3c86;     
$color7:  #e0b1bc;     
$color15: #e0b1bc;     
