$color0:  #212734;
$color8:  #93a2a3;     
$color1:  #6583d8;    
$color9:  #6583d8;     
$color2:  #986fdb;     
$color10: #986fdb;     
$color3:  #b38be2;     
$color11: #b38be2;     
$color4:  #96cde5;     
$color12: #96cde5;     
$color5:  #9bcfe6;     
$color13: #9bcfe6;     
$color6:  #a9d7e9;     
$color14: #a9d7e9;     
$color7:  #d3e8ea;     
$color15: #d3e8ea;     
