$color0:  #00121D;
$color8:  #559aa2;     
$color1:  #aa6562;    
$color9:  #aa6562;     
$color2:  #c28e8e;     
$color10: #c28e8e;     
$color3:  #3b5a6d;     
$color11: #3b5a6d;     
$color4:  #c18c95;     
$color12: #c18c95;     
$color5:  #3e6b74;     
$color13: #3e6b74;     
$color6:  #5c97a7;     
$color14: #5c97a7;     
$color7:  #7adde8;     
$color15: #7adde8;     
