window {
  background-color: transparent; }

* {
  all: unset; }

.vertical_bar {
  border-radius: 15px;
  min-height: 1060px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: #131413;
  color: #e4e2e0; }
  .vertical_bar * {
    font-family: Jetbrains Mono, sans-serif; }

.power_icon {
  background-color: transparent;
  color: #21342c;
  font-size: 35px; }

.power_button {
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  background-color: #bbd2c6; }
  .power_button * {
    font-family: Jetbrains Mono, sans-serif; }
  .power_button:hover {
    background-color: #d1e8dc;
    transition: ease-in 0.3s; }

.clock {
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 50px;
  margin-top: 10px;
  background-color: #1f201f;
  font-size: 20px;
  font-weight: bold; }
  .clock * {
    font-family: Jetbrains Mono, sans-serif; }

.batbox {
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 60px;
  margin-top: 10px;
  background-color: #1f201f;
  font-size: 20px;
  font-weight: bold; }
  .batbox * {
    font-family: Jetbrains Mono, sans-serif; }

.batlabel {
  color: #e4e2e0; }

.batlabel_charging {
  color: #bbd2c6; }

.battery_icon {
  margin-top: 5px;
  background-color: transparent;
  color: #e4e2e0;
  font-size: 20px; }

.battery_icon_charging {
  margin-top: 5px;
  background-color: transparent;
  color: #e4e2e0;
  font-size: 20px; }

.workspaces {
  border-radius: 15px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: #1f201f;
  min-height: 150px; }
  .workspaces * {
    font-family: Jetbrains Mono, sans-serif; }

.workspaces_unfocused {
  background-color: #e4e2e0;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px; }
  .workspaces_unfocused * {
    font-family: Jetbrains Mono, sans-serif; }
  .workspaces_unfocused:hover {
    background-color: #bbd2c6;
    transition: ease-in 0.1s; }

.workspaces_focused {
  background-color: #bbd2c6;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  transition: ease-in 0.1s; }

.notification_icon {
  background-color: transparent;
  color: #29303f;
  font-size: 20px; }

.notification_button {
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  padding: 12px;
  background-color: #c6cce0; }
  .notification_button * {
    font-family: Jetbrains Mono, sans-serif; }
  .notification_button:hover {
    background-color: #dbe2f6;
    transition: ease-in 0.3s; }

.misc_icon {
  background-color: transparent;
  color: #2a322e;
  font-size: 20px; }

.misc_button {
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  padding: 12px;
  background-color: #c0c8c3; }
  .misc_button * {
    font-family: Jetbrains Mono, sans-serif; }
  .misc_button:hover {
    background-color: #dce4df;
    transition: ease-in 0.3s; }

.controls_icon {
  background-color: transparent;
  color: #21342c;
  font-size: 20px; }

.controls_button {
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  background-color: #bbd2c6; }
  .controls_button * {
    font-family: Jetbrains Mono, sans-serif; }
  .controls_button:hover {
    background-color: #d1e8dc;
    transition: ease-in 0.3s; }
