tooltip {
  background-color: #323235;
  padding: 3px;
  color: #ffffff;
  border-radius: 40px;
  border: 0rem solid white; }

* {
  all: unset;
  font-family: "Iosevka Nerd Font"; }

.vertical_bar {
  padding: 10px;
  border-radius: 40px;
  margin: 0;
  min-height: 1020px;
  margin-left: 20px;
  background-color: #121316;
  color: #e3e2e5; }

.clock {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  font-family: "Jetbrains Mono Nerd Font";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 11px;
  padding-right: 11px;
  min-height: 3rem;
  font-size: 1.5rem;
  font-weight: bold; }

.batbox {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  padding: 4.7619047619px; }

.bat_icon {
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem;
  font-size: 1.5em; }

circular-progress {
  font-size: 0.25em;
  margin: 0.2rem; }

.bat_progress {
  color: #2962a5; }

.bat_progress_charging {
  color: #005fce;
  transition: ease-in 0.5s; }

.workspaces {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  padding: 20px; }

.workspace_unfocused {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  background-color: #ffffff;
  margin-top: 10px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 5px;
  padding-right: 5px; }
  .workspace_unfocused:hover {
    background-color: #ce3c86;
    transition: ease-in 0.1s; }

.workspace_focused {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  background-color: #ce3c86;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  transition: ease-in 0.1s; }
  .workspace_focused:hover {
    background-color: #e62486;
    transition: ease-in 0.1s; }

.theme_icon {
  color: #512cb0;
  background-color: transparent;
  font-size: 1.5rem; }

.theme_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #512cb0; }
  .theme_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.notification_icon {
  color: #ce3c86;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 15px; }

.music_icon {
  color: #2962a5;
  background-color: transparent;
  font-size: 1.5rem; }

.notification_music_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #26699b;
  margin: 0; }
  .notification_music_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.slider_icon {
  color: #5d2eba;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 15px; }

.wifi_icon {
  color: #512cb0;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 15px; }

.bluetooth_icon {
  color: #26699b;
  background-color: transparent;
  font-size: 1.5rem; }

.misc_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #26699b; }
  .misc_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.horizontal_bar {
  padding: 10px;
  border-radius: 40px;
  margin: 0;
  min-width: 1860px;
  margin-top: 20px;
  background-color: #121316;
  color: #e3e2e5; }

.clock_h {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 1.5rem;
  margin-right: 10px;
  font-weight: bold; }

.batbox_h {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  padding: 4.7619047619px;
  margin-left: 10px; }

.bat_icon_h {
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem;
  font-size: 1.5em; }

circular-progress {
  font-size: 0.25em;
  margin: 0.2rem; }

.bat_progress_h {
  color: #2962a5; }

.bat_progress_charging_h {
  color: #005fce;
  transition: ease-in 0.5s; }

.workspaces_h {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  padding: 20px; }

.workspace_unfocused_h {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .workspace_unfocused_h:hover {
    background-color: #ce3c86;
    transition: ease-in 0.1s; }

.workspace_focused_h {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  background-color: #ce3c86;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: ease-in 0.1s; }
  .workspace_focused_h:hover {
    background-color: #e62486;
    transition: ease-in 0.1s; }

.theme_h_icon {
  color: #512cb0;
  background-color: transparent;
  font-size: 1.5rem; }

.theme_h_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #512cb0;
  margin-right: 0; }
  .theme_h_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.notification_icon_h {
  color: #ce3c86;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 15px; }

.music_icon_h {
  color: #2962a5;
  background-color: transparent;
  font-size: 1.5rem; }

.notification_music_button_h {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #26699b;
  margin: 0; }
  .notification_music_button_h:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.slider_icon_h {
  color: #5d2eba;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 15px; }

.wifi_icon_h {
  color: #512cb0;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 15px; }

.bluetooth_icon_h {
  color: #26699b;
  background-color: transparent;
  font-size: 1.5rem; }

.misc_button_h {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #26699b; }
  .misc_button_h:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.app_launcher {
  padding: 10px;
  border-radius: 40px;
  background-color: #121316;
  min-width: 450px;
  min-height: 514.2857142857px;
  margin-bottom: 20px;
  margin-right: 20px; }
  .app_launcher image {
    -gtk-icon-theme: "WhiteSur"; }

.scrollable {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  background-color: #121316; }

.app_item_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  background-color: #121316;
  margin-bottom: 10px; }
  .app_item_button:hover {
    background-color: #3d3d40;
    transition: ease-in 0.3s; }
  .app_item_button:focus {
    background-color: #3d3d40;
    transition: ease-in 0.3s; }

.app_title {
  font-family: "Jetbrains Mono Nerd Font";
  font-weight: 600;
  font-size: 1rem;
  margin-left: 10px; }

.search_bar {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  margin: 10px;
  font-size: 1.25rem;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #1d1e20;
  color: #ffffff; }

.powermenu {
  padding: 10px;
  border-radius: 40px;
  background-color: #121316;
  min-height: 514.2857142857px;
  margin-bottom: 20px; }

.limitless_icon {
  color: #e0b1bc;
  background-color: transparent;
  font-size: 1.5rem; }

.limitless_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #e0b1bc;
  margin-bottom: 0; }
  .limitless_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.lock_icon {
  color: #26699b;
  background-color: transparent;
  font-size: 1.5rem; }

.lock_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #26699b; }
  .lock_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.sleep_icon {
  color: #512cb0;
  background-color: transparent;
  font-size: 1.5rem; }

.sleep_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #512cb0; }
  .sleep_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.logout_icon {
  color: #2962a5;
  background-color: transparent;
  font-size: 1.5rem; }

.logout_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #2962a5; }
  .logout_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.reboot_icon {
  color: #5d2eba;
  background-color: transparent;
  font-size: 1.5rem; }

.reboot_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #5d2eba; }
  .reboot_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.shutdown_icon {
  color: #ce3c86;
  background-color: transparent;
  font-size: 1.5rem; }

.shutdown_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #ce3c86;
  margin-bottom: 0; }
  .shutdown_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.dock {
  padding: 10px;
  border-radius: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  background-color: #121316; }

.icons image {
  -gtk-icon-theme: "WhiteSur"; }

.separator {
  background-color: #323235;
  padding-left: 0.5px;
  padding-right: 0.5px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem; }

.taskbar_icon_box {
  padding-left: 10px;
  padding-right: 10px; }

.indicator {
  padding: 0.25rem;
  margin-right: 0.15rem;
  margin-left: 0.15rem;
  border-radius: 40px;
  background-color: #ffffff; }

.start_menu_icon {
  color: #2a40ac;
  background-color: transparent;
  font-size: 1.5rem; }

.start_menu_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #2a40ac;
  margin-left: 10px; }
  .start_menu_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.systray_icon {
  color: #2962a5;
  background-color: transparent;
  font-size: 1.5rem; }

.systray_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #2962a5;
  margin-left: 10px; }
  .systray_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.systray_box {
  padding: 10px;
  border-radius: 40px;
  background-color: #121316;
  margin-right: 20px;
  margin-bottom: 20px; }

.sys_app_icon {
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem; }

.sys_app_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid white;
  margin: 5px 10px 5px 10px; }
  .sys_app_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.empty_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #e0b1bc;
  margin: 5px 10px 5px 10px;
  background-color: #121316; }
  .empty_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }
  .empty_button:hover {
    background-color: #121316; }

.empty_icon {
  color: #e0b1bc;
  background-color: transparent;
  font-size: 1.5rem; }

menu {
  padding: 10px;
  border-radius: 40px;
  background-color: #27282a;
  padding: 10px;
  margin-bottom: 20px; }
  menu menuitem {
    padding: 10px;
    border-radius: 40px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; }
    menu menuitem:hover {
      background-color: #3d3d40;
      transition: ease-in 0.3s; }

.control_sliders {
  padding: 10px;
  border-radius: 40px;
  min-height: 102px;
  margin-left: 20px;
  min-width: 425px;
  background-color: #121316;
  padding-top: 20px;
  padding-bottom: 20px; }

.volume {
  margin-bottom: 20px; }

.volume_slider {
  min-width: 381px; }
  .volume_slider trough {
    border-radius: 40px;
    background-color: #3d3d40;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .volume_slider trough highlight, .volume_slider trough progress {
      background-color: #26699b;
      border-radius: 40px; }
  .volume_slider slider {
    background-color: #26699b;
    border-radius: 40px; }
  .volume_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #31314d; }
  .volume_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #272756; }
  .volume_slider:hover highlight, .volume_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #136cae; }
  .volume_slider:disabled highlight, .volume_slider:disabled progress {
    background-color: #ffd2cc; }

.volume_icon {
  background-color: transparent;
  color: #26699b;
  font-size: 1.5rem; }

.brightness {
  margin-bottom: 20px; }

.brightness_slider {
  min-width: 381px; }
  .brightness_slider trough {
    border-radius: 40px;
    background-color: #3d3d40;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .brightness_slider trough highlight, .brightness_slider trough progress {
      background-color: #ce3c86;
      border-radius: 40px; }
  .brightness_slider slider {
    background-color: #ce3c86;
    border-radius: 40px; }
  .brightness_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #31314d; }
  .brightness_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #272756; }
  .brightness_slider:hover highlight, .brightness_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #e62486; }
  .brightness_slider:disabled highlight, .brightness_slider:disabled progress {
    background-color: #ffd2cc; }

.brightness_icon {
  background-color: transparent;
  color: #ce3c86;
  font-size: 1.5rem; }

.microphone_slider {
  min-width: 381px; }
  .microphone_slider trough {
    border-radius: 40px;
    background-color: #3d3d40;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .microphone_slider trough highlight, .microphone_slider trough progress {
      background-color: #2962a5;
      border-radius: 40px; }
  .microphone_slider slider {
    background-color: #2962a5;
    border-radius: 40px; }
  .microphone_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #31314d; }
  .microphone_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #272756; }
  .microphone_slider:hover highlight, .microphone_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #1460ba; }
  .microphone_slider:disabled highlight, .microphone_slider:disabled progress {
    background-color: #ffd2cc; }

.microphone_icon {
  background-color: transparent;
  color: #2962a5;
  font-size: 1.5rem; }

.control_menu {
  padding: 10px;
  border-radius: 40px;
  min-height: 199.3px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #121316;
  min-width: 425px; }

.wifi_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #27282a;
  border: 0rem solid #13213e;
  min-width: 385px;
  margin-bottom: 20px;
  color: #ffffff; }
  .wifi_button:hover {
    background-color: #1b2436;
    transition: ease-in 0.3s; }

.wifi_button.on {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #26699b;
  border: 0rem solid #006fc1;
  color: #121316; }
  .wifi_button.on:hover {
    background-color: #096db8;
    transition: ease-in 0.3s; }

.dnd_button.on {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2a40ac;
  border: 0rem solid #0024d6;
  color: #121316; }
  .dnd_button.on:hover {
    background-color: #0a2bcc;
    transition: ease-in 0.3s; }

.dnd_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #27282a;
  border: 0rem solid #13213e;
  min-width: 177.5px;
  margin-right: 10px;
  margin-bottom: 20px;
  color: #ffffff; }
  .dnd_button:hover {
    background-color: #1b2436;
    transition: ease-in 0.3s; }

.bluetooth_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #27282a;
  border: 0rem solid #13213e;
  min-width: 177.5px;
  margin-bottom: 20px;
  color: #ffffff; }
  .bluetooth_button:hover {
    background-color: #1b2436;
    transition: ease-in 0.3s; }

.bluetooth_button.on {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #512cb0;
  border: 0rem solid #3e00dc;
  color: #121316; }
  .bluetooth_button.on:hover {
    background-color: #430bd1;
    transition: ease-in 0.3s; }

.power_profiles_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #27282a;
  border: 0rem solid #13213e;
  min-width: 177.5px;
  margin-right: 10px;
  color: #ffffff; }
  .power_profiles_button:hover {
    background-color: #1b2436;
    transition: ease-in 0.3s; }

.power_profiles_button.perf {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #005fce;
  border: 0rem solid #005fce;
  color: #121316; }
  .power_profiles_button.perf:hover {
    background-color: #005fce;
    transition: ease-in 0.3s; }

.power_profiles_button.bal {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2962a5;
  border: 0rem solid #005fce;
  color: #121316; }
  .power_profiles_button.bal:hover {
    background-color: #0a60c4;
    transition: ease-in 0.3s; }

.control_button_icon {
  background-color: transparent;
  font-size: 2.0rem;
  transition: ease-in 0.3s;
  margin-right: 10px; }

.control_button_header {
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 0.8rem;
  transition: ease-in 0.3s; }

.control_button_label {
  font-size: 0.7rem;
  transition: ease-in 0.3s; }
  .control_button_label * {
    font-family: "Iosevka Nerd Font"; }

.redshift_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  margin-right: 10px;
  min-width: 66.25px;
  border-radius: 30px;
  padding: 13px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 0rem solid #13213e;
  background-color: #27282a;
  color: #ffffff; }
  .redshift_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.redshift_button.on {
  border: 0rem solid #4e00e8;
  background-color: #5d2eba;
  color: #ffffff; }

.redshift_icon {
  background-color: transparent;
  font-size: 1.5rem; }

.mute_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  min-width: 66.25px;
  border-radius: 30px;
  padding: 13px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 0rem solid #13213e;
  background-color: #27282a;
  color: #ffffff;
  transition: ease-in 0.3s; }
  .mute_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.mute_button.on {
  border: 0rem solid #ff0b87;
  background-color: #ce3c86;
  color: #121316; }

.mute_icon {
  background-color: transparent;
  font-size: 1.5rem; }

.player {
  padding: 10px;
  border-radius: 40px;
  min-height: 102.8px;
  margin-top: 20px;
  border: 20px solid #121316;
  background-color: #27282a;
  background-size: cover;
  background-position: center;
  margin-left: 20px;
  margin-right: 20px; }

.player_controls {
  margin-top: 20px;
  padding: 10px;
  border-radius: 40px;
  padding: 20px;
  background-color: #121316; }

.title {
  font-family: "Jetbrains Mono Nerd Font";
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1rem;
  color: #ffffff;
  opacity: 1.0;
  font-weight: bold; }

.artist {
  margin-left: 10px;
  font-size: 0.75rem;
  color: #ffffff;
  opacity: 1.0; }
  .artist * {
    font-family: "Iosevka Nerd Font"; }

.play-pause {
  background-color: transparent; }
  .play-pause:hover {
    color: #26699b;
    transition: ease-in 0.3s; }

.play-pause-icon {
  background-color: transparent;
  font-size: 30px; }

.prev {
  background-color: transparent;
  margin-top: 6px; }
  .prev:hover {
    color: #26699b;
    transition: ease-in 0.3s; }

.prev-icon {
  background-color: transparent;
  font-size: 20px; }

.next {
  background-color: transparent;
  margin-top: 6px; }
  .next:hover {
    color: #26699b;
    transition: ease-in 0.3s; }

.next-icon {
  background-color: transparent;
  font-size: 20px; }

.position {
  font-size: 10px;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 10px; }
  .position * {
    font-family: "Iosevka Nerd Font"; }

.length {
  font-size: 10px;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px; }
  .length * {
    font-family: "Iosevka Nerd Font"; }

.position-slider {
  all: unset;
  margin-left: 10px;
  margin-right: 10px; }
  .position-slider trough {
    border-radius: 40px;
    background-color: #27282a;
    min-height: 8px;
    min-width: 50px; }
    .position-slider trough highlight, .position-slider trough progress {
      background-color: #26699b;
      border-radius: 40px; }
  .position-slider slider {
    background-color: #26699b;
    border-radius: 40px; }
  .position-slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #1f2532; }
  .position-slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #046ebd; }
  .position-slider:hover highlight, .position-slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #136cae; }
  .position-slider:disabled highlight, .position-slider:disabled progress {
    background-color: #ffd2cc; }
  .position-slider trough:focus {
    background-color: #2a40ac; }
    .position-slider trough:focus slider {
      background-color: #2a40ac; }

.notification {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  min-width: 25rem;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  background-color: #1d1e20; }

window.notification-popups box.notifications {
  padding: 10px; }

.noti_icon {
  min-width: 6.25rem;
  min-height: 6.25rem;
  margin-right: 10px; }

.placeholder_icon {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  background-color: #e0b1bc;
  color: #e0b1bc;
  min-width: 6.25rem;
  min-height: 6.25rem; }

.noti_icon image {
  font-size: 6.25rem;
  color: #e0b1bc; }

.noti_icon box {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  min-width: 6.25rem;
  min-height: 6.25rem;
  background-color: #e0b1bc;
  color: #e0b1bc; }

.notification.critical {
  background-color: #13213e; }

.noti_title {
  font-family: "Jetbrains Mono Nerd Font";
  color: #26699b;
  font-size: 1.2em;
  font-weight: 500; }

.noti_time {
  color: #9c7b83;
  font-size: 1.0em;
  font-weight: 300; }
  .noti_time * {
    font-family: "Iosevka Nerd Font"; }

.body {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 0.8em; }
  .body * {
    font-family: "Iosevka Nerd Font"; }

.action-button {
  font-family: "Jetbrains Mono Nerd Font";
  padding: 10px;
  background-color: #5d2eba;
  margin-left: 10px; }

.action_button_text {
  font-weight: 500; }

.action-button:first-child {
  margin-left: 0; }

.action-button:last-child {
  margin-right: 0; }

.notifications_tray {
  padding: 10px;
  border-radius: 40px;
  min-width: 425px;
  min-height: 408px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #121316; }

.notifications_header {
  font-family: "Jetbrains Mono Nerd Font";
  margin: 10px;
  background-color: #121316;
  font-size: 2em; }

.clear_icon {
  color: #26699b;
  background-color: transparent;
  font-size: 1.5rem; }

.clear_button {
  padding: 10px;
  border-radius: 30px;
  background-color: #27282a;
  border: 0rem solid #3d3d40;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #27282a;
  border: 0rem solid #26699b;
  margin: 0; }
  .clear_button:hover {
    background-color: #44474d;
    transition: ease-in 0.3s; }

.placeholder {
  font-size: 1.5em; }

.theming_sliders {
  padding: 10px;
  border-radius: 40px;
  margin-right: 20px;
  margin-top: 20px;
  min-width: 425px;
  background-color: #121316;
  padding-top: 20px;
  padding-bottom: 20px; }

.rounding {
  margin-bottom: 20px; }

.rounding_slider {
  min-width: 381px; }
  .rounding_slider trough {
    border-radius: 40px;
    background-color: #3d3d40;
    min-height: 15px;
    min-width: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    .rounding_slider trough highlight, .rounding_slider trough progress {
      background-color: #26699b;
      border-radius: 40px; }
  .rounding_slider slider {
    background-color: #26699b;
    border-radius: 40px; }
  .rounding_slider:hover trough {
    transition: ease-in 0.3s;
    background-color: #31314d; }
  .rounding_slider:hover slider {
    transition: ease-in 0.3s;
    background-color: #272756; }
  .rounding_slider:hover highlight, .rounding_slider:hover progress {
    transition: ease-in 0.3s;
    background-color: #136cae; }
  .rounding_slider:disabled highlight, .rounding_slider:disabled progress {
    background-color: #ffd2cc; }

.rounding_icon {
  background-color: transparent;
  color: #26699b;
  font-size: 1.5rem; }
