*:not(switch) {
  all: unset; }

.vertical_bar {
  border-radius: 5px;
  min-height: 1060px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: #0c1514;
  color: #dae5e2; }
  .vertical_bar * {
    font-family: Jetbrains Mono, sans-serif; }

.power_icon {
  background-color: transparent;
  color: #512300;
  font-size: 35px; }

.power_button {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: #ffb689; }
  .power_button * {
    font-family: Jetbrains Mono, sans-serif; }
  .power_button:hover {
    background-color: #ffdbc8; }

.clock {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 50px;
  margin-top: 10px;
  background-color: #182120;
  font-size: 20px;
  font-weight: bold; }
  .clock * {
    font-family: Jetbrains Mono, sans-serif; }

.batbox {
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 60px;
  margin-top: 10px;
  background-color: #182120;
  font-size: 20px;
  font-weight: bold; }
  .batbox * {
    font-family: Jetbrains Mono, sans-serif; }

.batbar trough {
  margin-top: 10px;
  min-width: 10px;
  min-height: 1px; }
  .batbar trough block {
    border-radius: 5px; }
    .batbar trough block.empty {
      background-color: #182120; }
    .batbar trough block.full {
      background-color: #ffb4ab; }

.batbar.charging trough {
  margin-top: 10px;
  min-width: 10px;
  min-height: 1px; }
  .batbar.charging trough block {
    border-radius: 5px; }
    .batbar.charging trough block.empty {
      background-color: #2d3735; }
    .batbar.charging trough block.full {
      background-color: #ffb689; }

.battery_icon {
  margin-top: 5px;
  background-color: transparent;
  color: #dae5e2;
  font-size: 20px; }

.workspaces {
  border-radius: 5px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #182120;
  min-height: 150px; }
  .workspaces * {
    font-family: Jetbrains Mono, sans-serif; }

.workspaces_unfocused {
  background-color: #dae5e2;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px; }
  .workspaces_unfocused * {
    font-family: Jetbrains Mono, sans-serif; }
  .workspaces_unfocused:hover {
    background-color: #ffb689;
    transition: ease-in 0.1s; }

.workspaces_focused {
  background-color: #ffb689;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  transition: ease-in 0.1s; }

.notification_icon {
  background-color: transparent;
  color: #003734;
  font-size: 20px; }

.notification_button {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  padding: 12px;
  background-color: #8cd3cd; }
  .notification_button * {
    font-family: Jetbrains Mono, sans-serif; }
  .notification_button:hover {
    background-color: #a8f0e9;
    transition: ease-in 0.3s; }

.misc_icon {
  background-color: transparent;
  color: #02363f;
  font-size: 20px; }

.misc_button {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  padding: 12px;
  background-color: #a2ceda; }
  .misc_button * {
    font-family: Jetbrains Mono, sans-serif; }
  .misc_button:hover {
    background-color: #beeaf6;
    transition: ease-in 0.3s; }

.controls_icon {
  background-color: transparent;
  color: #512300;
  font-size: 20px; }

.controls_button {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  background-color: #ffb689; }
  .controls_button * {
    font-family: Jetbrains Mono, sans-serif; }
  .controls_button:hover {
    background-color: #ffdbc8;
    transition: ease-in 0.3s; }
