@mixin control_slider($primary_col: $color1, $bg_col: $surface_container-highest-t) {
    //all: unset;
    margin-left: 10px;
    margin-right: 10px;

    trough{
        border-radius: $rounding;
        background-color: $bg_col;
        min-width:  20px;

        highlight, progress{
            background-color: $primary_col;
            border-radius: $rounding;
        }
    }

    slider {
        background-color: $primary_col;
        border-radius: $rounding;
    }

    &:hover {
        trough {
            transition: ease-in 0.3s;
            background-color: saturate($bg_col, 20);
        }

        slider {
            transition: ease-in 0.3s;
            background-color: saturate($bg_col, 35);
        }

        highlight, progress {
            transition: ease-in 0.3s;
            background-color: saturate($primary_col, 20);
        }
    }

    &:disabled {
        highlight, progress{
            background-color: $error;
        }
    }
}
