@import 'bg_colors.scss';
@import 'fg_colors.scss';

$gap: 10px;
$outer_gap: 10px;

*:not(switch) {
    all: unset;
}


@mixin common{
    * {
        font-family: Jetbrains Mono, sans-serif;
    }
}

tooltip {
    @include common;
    background-color: $surface-container-highest-t;
    padding: 3px;
    color: $on_surface; 
    border-radius: $rounding
}


@mixin widget{
    @include common;
    border-radius: if($rounding == 0, 0, $rounding + $gap/2);
}

@mixin button {
    @include common;
    border-radius: if($rounding == 0, 0, $rounding + $gap/2);
    padding: 5px;
}


@import '../widgets/vertical_bar/vertical_bar.scss';
@import '../widgets/dock/dock.scss';
@import '../widgets/start_menu/start_menu.scss';
@import '../widgets/start_menu/media.scss';
