.control_sliders {
    @include outer_widget;
    min-height: 400px - $outer_gap;
    min-width: 200px - $gap - $gap;
    background-color: $surface-container-t;
    border: $gap solid $background-t;
}

.volume {
    margin-top: $gap;
}
.volume_slider {
    @include control_slider($color1);
    min-height: 400px - 25px - $gap - $gap;
}
.speaker_icon {
    background-color: transparent;
    color: $color1;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 8px;
}

.brightness {
    margin-top: $gap;
    margin-bottom: $gap;
}
.brightness_slider {
    @include control_slider($color7);
    min-height: 400px - 25px - $gap - $gap;
}
.brightness_icon {
    background-color: transparent;
    color: $color7;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 2px;
}

.microphone {
    margin-top: $gap;
    margin-bottom: $gap;
}
.microphone_slider {
    @include control_slider($color3);
    min-height: 400px - 25px - $gap - $gap;
}
.microphone_icon {
    background-color: transparent;
    color: $color3;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 8px;
}
