.player {
    @include common;
    border-radius: if($rounding == 0, 0, $rounding + $gap/5);
    background-size: cover;
    background-position: center;
    min-height: 200px - $gap - $gap;
    min-width: 200px - $gap - $gap;
    margin-top: $gap;
    margin-bottom: $gap;
}

.real {
    @include widget;
    min-height: 400px - $outer_gap;
    background-color: $background-t;
    margin-bottom: $outer_gap;
}

.media {
    @include widget;
    min-height: 200px;
    background-color: $background-t;
}

.title {
    @include common;
    margin-top: 10px;
    font-size: 14px;
    color: $on_surface;
    opacity: 1.0;
}
.artist {
    @include common;
    font-size: 10px;
    color: $on_surface;
    opacity: 1.0;
}

.play-pause {
    background-color: transparent;
    &:hover {
        color: $color1;
        transition: ease-in 0.3s;
    }
}
.play-pause-icon {
    background-color: transparent;
    font-size: 30px;
}

.prev {
    background-color: transparent;
    margin-top: 6px;
    &:hover {
        color: $color1;
        transition: ease-in 0.3s;
    }
}
.prev-icon {
    background-color: transparent;
    font-size: 20px;
}
.next {
    background-color: transparent;
    margin-top: 6px;
    &:hover {
        color: $color1;
        transition: ease-in 0.3s;
    }
}
.next-icon {
    background-color: transparent;
    font-size: 20px;
}

.position {
    @include common;
    font-size: 10px;
    color: $on_surface;
    margin-left: 10px;
    margin-bottom: 10px;
}

.length {
    @include common;
    font-size: 10px;
    color: $on_surface;
    margin-right: 10px;
    margin-bottom: 10px;
}

.position-slider {
    all: unset;
    margin-left: 10px;
    margin-right: 10px;

    trough{
        border-radius: $rounding;
        background-color: $surface-container-t;
        min-height: 8px;
        min-width:  50px;

        highlight, progress{
            background-color: $color1;
            border-radius: $rounding;
        }
    }

    slider {
        background-color: $color1;
        border-radius: $rounding;
    }

    &:hover {
        trough {
            transition: ease-in 0.3s;
            background-color: saturate($surface-container-t, 20);
        }

        slider {
            transition: ease-in 0.3s;
            background-color: saturate($color1, 35);
        }

        highlight, progress {
            transition: ease-in 0.3s;
            background-color: saturate($color1, 20);
        }
    }

    &:disabled {
        highlight, progress{
            background-color: $error;
        }
    }

    trough:focus{
        background-color: $color2;

        slider {
            background-color: $color2;
        }
    }
}
