.start_menu {
    min-width: 570px;
    min-height: 600px;
    margin-bottom: $outer_gap;
}

.app_launcher {
    @include outer_widget;
    image {
        -gtk-icon-theme: "WhiteSur";
    }
    background-color: transparent;
    color: $on_background;
    min-width: 320px;
    min-height: 600px;
}

.scrollable {
    @include outer_widget;
    background-color: $surface_container_low-t;
    border: $gap solid $background-t;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 320px;
    min-height: 465px;
}

.app_item_button {
    @include widget;
    padding: 3px;
    &:hover {
        background-color: $surface-container-highest-t;
        transition: ease-in 0.3s;
    }
    &:focus {
        background-color: $surface-container-highest-t;
        transition: ease-in 0.3s;
    }
}

.list_icon {
    margin-left: 5px;
    margin-right: 10px;
}

.search_bar {
    @include outer_widget;
    font-size: 20px;
    margin-bottom: $outer_gap;
    background-color: $surface_container_low-t;
    border: $gap solid $background-t;
    color: $on_surface;
    padding-top: $gap;
    padding-bottom: $gap;
}

.title {
    @include common;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
}
.start_widgets {
    @include widget;
    min-width: 200px;
    min-height: 600px;
    margin-left: $outer_gap;
}
