.powermenu {
    @include outer_widget;
    padding: $gap;
    margin-top: $outer_gap;
    background-color: $background-t;
}

.sleep_icon {
    background-color: transparent;
    color: $surface_container;
    font-size: 30px;
}
.sleep_button {
    @include button;
    margin-right: 2 * $gap;
    padding: 8px;
    background-color: $color2;    
    &:hover {
        background-color: saturate($color2, 20);
        transition: ease-in 0.3s;
    }
}

.lock_icon {
    background-color: transparent;
    color: $surface_container;
    font-size: 30px;
}
.lock_button {
    @include button;
    margin-right: 2 * $gap;
    background-color: $color1;    
    padding-left: 11px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 9px;
    &:hover {
        background-color: saturate($color1, 20);
        transition: ease-in 0.3s;
    }
}


.logout_icon {
    background-color: transparent;
    color: $surface_container;
    font-size: 30px;
}
.logout_button {
    @include button;
    margin-right: 2 * $gap;
    background-color: $color3;    
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    &:hover {
        background-color: saturate($color3, 20);
        transition: ease-in 0.3s;
    }
}


.reboot_icon {
    background-color: transparent;
    color: $surface_container;
    font-size: 35px;
}
.reboot_button {
    @include button;
    margin-right: 2 * $gap;
    background-color: $color5;    
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 5px;
    &:hover {
        background-color: saturate($color5, 20);
        transition: ease-in 0.3s;
    }
}


.shutdown_icon {
    background-color: transparent;
    color: $surface_container;
    font-size: 35px;
}
.shutdown_button {
    @include button;
    background-color: $color6;    
    &:hover {
        background-color: saturate($color6, 20);
        transition: ease-in 0.3s;
    }
}
