.start_menu {
}

.app_launcher {
    @include widget;
    background-color: $background-t;
    image {
        -gtk-icon-theme: "WhiteSur";
    }
    min-width: ($center_menu_width * 3/4) - $outer_gap - ($gap);
    min-height: $center_menu_height;
    margin-bottom: $outer_gap;
    margin-right: $outer_gap;
}

.scrollable {
    @include element;
    background-color: $background-t;
}

.app_item_button {
    @include element;
    background-color: $background-t;
    margin-bottom: $gap;
    &:hover {
        background-color: $surface_container_highest-t;
        transition: ease-in 0.3s;
    }
    &:focus {
        background-color: $surface_container_highest-t;
        transition: ease-in 0.3s;
    }
}

.list_icon {
}
.app_title {
    @include common;
    font-weight: bold;
    font-size: 1rem;
    margin-left: $gap;
}

.search_bar {
    @include element;
    margin: $gap;
    font-size: 1.25rem;
    padding-top: $gap * 1.2;
    padding-bottom: $gap * 1.2;
    margin-bottom: 2 * $gap;
    background-color: $surface_container_low-t;
    color: $on_surface;
}

