window.notification-popups box.notifications {
    padding: 10px;
}

.noti_icon {
    min-width: 100px;
    min-height: 100px;
    margin-right: 10px;
}
.placeholder_icon {
    @include widget;
    min-width: 100px;
    min-height: 100px;
    background-color: $color7;
}

.noti_icon image {
    font-size: 100px;
    color: $color7;
}

.noti_icon box {
    @include widget;
    min-width: 100px;
    min-height: 100px;
}

.notification {
    @include outer_widget;
    min-width: 450px;
    min-height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    background-color: $surface-container-t;
}
.notification.critical {
    border: 5px solid $error;
}

.noti_title {
    @include common;
    color: $color1;
    font-size: 1.2em;
    font-weight: 500;
}

.noti_time {
    @include common;
    color: $color3;
    font-size: 1.0em;
    font-weight: 300;
    margin-right: 10px;
}

.close_icon {
    background-color: transparent;
    color: $color5;
    font-size: 10px;
    &:hover {
        color: saturate($color5, 20);
        transition: ease-in 0.3s;
    }
}

.body {
    @include common;
    margin-top: 5px;
    margin-bottom: 10px;
    color: $on_surface;
    font-size: 0.8em;
}

.actions {
    margin-top: 10px;
}

.action-button {
    @include widget;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $color5;
    margin-left: 20px;
}

.action-button:first-child {
    margin-left: 0;
}

.action-button:last-child {
    margin-right: 0;
}
