.dock {
    @include widget;
    padding-top: $padding / 2;
    padding-bottom: $padding / 2;
    margin-bottom: $outer_gap;
    background-color: $background-t;
}
.dock_window {
}
.icons {
    image {
        -gtk-icon-theme: "WhiteSur";
    }
}

.separator {
    background-color: $surface_container_high-t;
    padding-left: $padding * 0.05;
    padding-right: $padding * 0.05;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.taskbar_icon_box {
    padding-left: $padding;
    padding-right: $padding;
}

.indicator {
    padding: 0.25rem;
    margin-right: 0.15rem;
    margin-left: 0.15rem;
    border-radius: $rounding;
    background-color: $on_surface;
}

.start_menu_icon {
    @include button_icon($color2);
}
.start_menu_button {
    @include button($color2);
    margin-left: $gap;
}

.systray_icon {
    @include button_icon($color4);
}
.systray_button {
    @include button($color4);
    margin-left: $gap;
}
